<div id="mentorInstructions" class="page">
    <div class="divided title">
      Mentor Instructions
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form">

                <div class="divided title">
                    Being a Mentor at MTA Hack 2021
                </div>

                <div class="ui stackable centered page grid">
                    <div class="column">
                        <div class="small title">
                            <img src="../../assets/images/simpsons.gif" alt="this slowpoke moves"  />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <p>We are pleased that you have registered to be a mentor at the MTA Hack 2021 Student Hackathon. We have gathered some information about the participants and the competition, and what we expect from the mentors.</p>
                </div>
                
                <div class="field">
                    <label> What is the role of the mentor? </label>
                    <p>Most participants have little experience in certain technologies, 
                        software product development and team development, and especially in the short time within the hackathon. 
                        The role of the mentor is to assist and advise groups in any way he chooses. The mentor can assist participants in programming, 
                        in the direction of the main versus the handle, Product, UI / UX or anything else.</p>
                </div>

                <div class="field">
                    <label> Who are the competitors? </label>
                    <p>Male and female students, mainly in computer science and information systems, most of them in their second or third year. 
                        Most students have a basic knowledge of Java and C ++, and little knowledge of JavaScript and Frontend technologies.</p>
                </div>

                <div class="field">
                    <label> What do we expect from the competition? </label>
                    <p>Develop a software product within 24 hours, related to the hackathon theme - work from home. 
                        The software product is not expected to work 100% without bugs and pass tests, but POC and implementation of some key features.</p>
                </div>

                <div class="field">
                    <label> What do we expect from the mentors? </label>
                    <p>One of the goals of the Athathon is to create a learning process and challenge in working with technologies that
                         are unfamiliar to students. Students look forward to learning from your experience, absorbing as much information as possible and
                          regaining a sense of competence. We believe that much of the success 
                        of the hackathon depends on mentors. Walk around groups, show interest in group projects, listen to their ideas and ask questions.</p>
                </div>

                <div class="field">
                    <label> How is the judgment made? </label>
                    <p>On the second day of the hackathon (7/5) (from 9:00 to 11:00 the semifinals will take place. Mentors who have chosen to
                         participate in the semifinals will receive a number of groups and will be asked to rate them using a form that will be 
                         sent to them below.) 5 teams with the highest rating They will advance to the final, where the judges will determine who are 
                         the teams that will win first and second place.</p>
                </div>
                <div class="field">
                    <label>Glad you came. Feel free to stay as long as you want!
                        MTA Hack 2021 Team!</label>
                </div>
            </div>
        </div>

    </div>
</div>