<br>
<br>
<br>
<br>


<style type="text/css">

	.container {
	    position: relative;
	    text-align: center;

	}
	.logo {

		width: 30%;
		height: auto;
		position: center;

	}
	.bubble {
		width: 30%;
		height: auto;
		position: absolute;
		left: 48%;
	}

	.centered {
    position: absolute;
    top: 13%;
    left: 63%;
    transform: translate(-50%, -50%);
}
</style>
<div class="container">
	<center>
		<img class="bubble" src="assets/images/airbubble.svg">
		<h2 class="centered">Woofs, looks like this <br>link doesn't exist.</h2>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img class="logo" src="assets/images/logo.svg">  
	</center>
<div>
