{
    "extends": "airbnb-base",
    "rules": {
        "brace-style": ["error", "stroustrup"],
        "indent": [
            "error", 4, {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error", "double", {
                "allowTemplateLiterals": true
            }
        ],
        "func-names": "off",
        "no-else-return": "off",
        "no-underscore-dangle": "off",
        "prefer-destructuring": "warn"
    }
}
