<div class="page">
    <div class="divided title">
        Liability Waiver
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form">
                <fieldset>
                    <div class="field">                
                        <p>
                            In consideration of my opportunity to participate in the University of Texas at Austin ("UT Austin") HackTX 2019 Program (the "Program") during the hours of 10 AM on November 2, 2019 to 5 PM on November 3, 2019 hosted by the Freetail Hackers,
                            I, the undersigned, am eighteen years of age or older and have voluntarily applied to participate in the above Activity or Trip. 
                            I acknowledge that the nature of the Activity or Trip may expose me to hazards or risks that may result in my illness, personal injury or death and I understand and appreciate the nature of such hazards and risks.
                        </p>
                    </div>
                    <div class="field">
                        <p>
                            In consideration of my participation in the Activity or Trip, I hereby accept all risk to my health and of my injury or death that may result from such participation and I hereby release the University of Texas at Austin, its governing board, officers, employees and representatives from any and all liability to me, my personal representatives, estate, heirs, next of kin, and assigns for any and all claims and causes of action for loss of or damage to my property and for any and all illness or injury to my person, including my death, that may result from or occur during my participation in the Activity or Trip, whether caused by negligence of the University of Texas at Austin, its governing board, officers, employees, or representatives, or otherwise. 
                            I further agree to indemnify and hold harmless the University of Texas at Austin and its governing board, officers, employees, and representatives from liability for the injury or death of any person(s) and damage to property that may result from my negligent or intentional act or omission while participating in the described Activity or Trip.
                        </p>
                    </div>
                    <div class="field">
                        <strong>
                            I HAVE CAREFULLY READ THIS AGREEMENT AND UNDERSTAND IT TO BE A RELEASE OF ALL CLAIMS AND CAUSES OF ACTION FOR MY INJURY OR DEATH OR DAMAGE TO MY PROPERTY THAT OCCURS WHILE PARTICIPATING IN THE DESCRIBED ACTIVITY OR TRIP AND IT OBLIGATES ME TO INDEMNIFY THE PARTIES NAMED FOR ANY LIABILITY FOR INJURY OR DEATH OF ANY PERSON AND DAMAGE TO PROPERTY CAUSED BY MY NEGLIGENT OR INTENTIONAL ACT OR OMISSION.
                        </strong>
                    </div>
                    <div class="field">
                        <p>
                            I agree that my electronic signature is the legally binding equivalent to my handwritten signature. 
                            Whenever I execute an electronic signature, it has the same validity and meaning as my handwritten signature. 
                            I will not, at any time in the future, repudiate the meaning of my electronic signature or claim that my electronic signature is not legally binding.
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
