<div class="page">
    <div class="divided title">
        Liability Waiver
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form">
                <fieldset>
                    <div class="field">                
                        <p>
                            In consideration of my child’s opportunity to participate in the University of Texas at Austin HackTX 2020 Program during the hours of 10pm to 12pm on October 23-25, 2020 hosted by the Freetail Hackers, I, the undersigned, am the parent or legal guardian of a potential hacker who has voluntarily applied to participate in the above activity. I acknowledge that the nature of the activity may expose my child to digital hazards or risks, and appreciate the nature of such hazards and risks.

                        </p>
                    </div>
                    <div class="field">
                        <p>
                            In consideration with my participation in HackTX 2020, I hereby release the University of Texas at Austin, its governing board, officers, employees, and representatives from any and all liability to me and my child for digital happenings during the course of the event. I further agree to indemnify and hold harmless the Freetail Hackers and Major League Hacking from any liability for actions towards my child during HackTX 2020. 
                        </p>
                    </div>
                    <div class="field">
                        <strong>
                            I HAVE CAREFULLY READ THIS AGREEMENT AND UNDERSTAND IT TO BE A RELEASE OF ALL CLAIMS AND CAUSES OF ACTION FOR DAMAGE TO MY PROPERTY THAT OCCURS WHILE PARTICIPATING IN HACKTX 2020. I ALSO UNDERSTAND THAT THIS AGREEMENT FREES FREETAIL HACKERS, MAJOR LEAGUE HACKING, AND THE UNIVERSITY OF TEXAS AT AUSTIN FROM ANY SUCH LIABILITY. 
                        </strong>
                    </div>
                    <div class="field">
                        <p>
                            I agree that my electronic signature is the legally binding equivalent of my handwritten signature. It has the same validity and meaning as my handwritten signature, and I will not repudiate the meaning of my electronic signature in the future.
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
