<div class="page">
    <div class="divided title">
        Photo Release
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form">
                <fieldset>
                    <div class="field">                
                        <p>
                            In consideration of my opportunity to participate in the University of Texas at Austin ("UT Austin") HackTX 2019 Program (the "Program") during the hours of 10 AM on November 2, 2019 to 5 PM on November 3, 2019 hosted by the Freetail Hackers, I, the undersigned, am eighteen years of age or older and have voluntarily applied to participate in the above Activity or Trip.
                        </p>
                    </div>
                    <div class="field">
                        <p>
                            I hereby voluntarily permit and authorize The University of Texas System and its employees, agents, and personnel who are acting on behalf of The University of Texas System to post my photograph or video images of me. I understand that The University of Texas System and its employees, agents and personnel cannot warrant or guarantee that, on placement of my photograph or video image on a website, any further dissemination of my photograph or video image will be subject to University supervision or control. Accordingly, I release The University of Texas System, its employees, agents, personnel acting on its behalf, and Major League Hacking from any and all liability related to further dissemination of my photograph or video image.
                        </p>
                    </div>
                    <div class="field">
                        <p>
                            I agree that my electronic signature is the legally binding equivalent to my handwritten signature. Whenever I execute an electronic signature, it has the same validity and meaning as my handwritten signature. I will not, at any time in the future, repudiate the meaning of my electronic signature or claim that my electronic signature is not legally binding.
                        </p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
