<div class="ui segment">

  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="ui header">
        Search
      </div>
      <div class="ui form">
        <div class="field">
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="Search..."
                   ng-model="queryText"
                   ng-model-options="{debounce: 300}">
              <i class="search icon"></i>
          </div>
        </div>

      </div>

      <div class="ui divider"></div>

      <button
        ng-repeat="page in pages"
        ng-class="page == currentPage ? 'active pink' : ''"
        ng-click="goToPage(page)"
        class="ui icon basic page button">
        {{page}}
      </button>

    </div>
    <div id="table-container" class="thirteen wide column">
      <div class="ui header">
        Users
      </div>
      <div class="ui long user modal">
        <i class="close icon"></i>
        <div class="header">
          {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
          <span
            ng-show="selectedUser.admin">
            (Admin)
          </span>
        </div>
        <div class="content">

          <div>
            <div class="ui header">
              Status:
              <div
                class="ui label">
                {{selectedUser.status.name.toUpperCase()}}
              </div>
            </div>
            <p>
              <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
            </p>
          </div>

          <div ng-repeat="section in selectedUser.sections">
            <div class="ui divider"></div>

            <h3> {{section.title}} </h3>

            <p ng-repeat="field in section.fields">
              <strong> {{field.name}}: </strong>

              <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

              <span ng-if="field.type == null">
                {{field.value}}
              </span>
            </p>

          </div>

        </div>

        <div class="actions">
          <div class="ui positive right labeled icon button">
            Nothing
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

      <table
        class="ui celled selectable compact users table">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail address</th>
            <th>School</th>
            <th>Grad</th>
            <th>V/S/A/C</th>
            <th>Host</th>
            <th>$</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-click="selectUser(user)"
            ng-repeat="user in users"
            ng-class="rowClass(user)">
            <td>
              <strong>
                {{user.profile.name}}
                &nbsp;

              </strong>
            </td>
            <td>{{user.email}}</td>
            <td>{{user.profile.school}}</td>
            <td
              class="collapsing">
              {{user.profile.graduationYear}}
            </td>
            <td
              class="collapsing">

              <!-- Verified -->
              <i
                ng-if="user.verified"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.verified"
                class="red remove circle icon">
              </i>

              <!-- Submitted -->
              <i
                ng-if="user.status.completedProfile"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.completedProfile"
                class="red remove circle icon">
              </i>

              <!-- Admitted -->
              <i
                ng-if="user.status.admitted"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.admitted"
                class="thin circle icon">
              </i>

              <!-- Confirmed -->
              <i
                ng-if="!user.status.admitted"
                class="circle thin icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.confirmed"
                class="green check circle icon">
              </i>
              <i
                ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
                class="question icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.declined"
                class="red remove circle icon">
              </i>

            </td>

            <!-- Host -->
            <td
              class="collapsing">

              <span ng-if="user.status.confirmed">
                <i
                  ng-if="user.confirmation.hostNeededFri"
                  class="home icon">
                </i>
                <i
                  ng-if="!user.confirmation.hostNeededFri && user.confirmation.hostNeededSat"
                  class="no icon">
                </i>
                <i
                  ng-if="user.confirmation.hostNeededSat"
                  class="home icon">
                </i>
              </span>

            </td>

            <td
              class="collapsing">
              <span ng-if="user.status.confirmed">
                <i
                  ng-if="user.confirmation.needsReimbursement && !user.status.reimbursementGiven"
                  class="red money icon">
                </i>
                <i
                  ng-if="user.confirmation.needsReimbursement && user.status.reimbursementGiven"
                  class="green money icon">
                </i>
              </span>
            </td>

            <td
              class="collapsing">
              <button
                ng-click="goUser($event, user)"
                class="ui circular mini basic icon button">
                <i class="linkify icon"></i>
              </button>
            </td>

            <td
              class="right aligned collapsing">

              <button
                class="accept ui circular mini basic green icon button"
                ng-click="acceptUser($event, user, $index)">
                <i class="add user icon"></i>
              </button>

              <button
                ng-click="toggleCheckIn($event, user, $index)"
                class="ui circular mini basic green icon button">

                <i
                  ng-if="!user.status.checkedIn"
                  class="flag outline icon"></i>

                <i
                  ng-if="user.status.checkedIn"
                  class="green flag icon"></i>

              </button>

              <button
                ng-click="toggleAdmin($event, user, $index)"
                class="ui circular mini basic green icon button">

                <i
                  ng-if="!user.admin"
                  class="spy outline icon"></i>

                <i
                  ng-if="user.admin"
                  class="green spy icon"></i>

              </button>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
