<div id="login">
  <div class="container">
    <div class="content">
      <div class="ui segment">
        <h1 class="title">HackSC</h1>
        <p class="subtitle">USC's Premier Hackathon</p>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <input type="email"
                       id='email'
                       placeholder="E-mail"
                       ng-model="email">
              </div>
              <div class="field">
                <input type="password"
                       id='password'
                       placeholder="Password"
                       ng-model="password" required>
              </div>
              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Login
                </button>
              </div>
            </form>
          </div>

          <div class="ui form" ng-show="regIsOpen">
            <div class="field">
              <button id="register"
                      type="submit"
                      class="fluid ui register button"
                      ng-click="register()">
                      Register
              </button>
            </div>
          </div>
        </div>

        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <input type="email"
                       id='email'
                       placeholder="E-mail"
                       ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password"
                        type="submit"
                        class="fluid ui login button">
                        Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

        <div ng-show="loginState === 'login'" class="forgot">
          <a href="#" ng-click="setLoginState('forgot')">
            Forgot Password?
          </a>
        </div>

        <div ng-show="loginState === 'forgot'" class="forgot">
          <a href="#" ng-click="setLoginState('login')">
            {{regIsOpen ? 'Login or Register' : 'Login'}}
          </a>
        </div>


      </div>
    </div>

  </div>
</div>
