<style>
  body {
    /* IE10+ */
    background-image: -ms-linear-gradient(bottom left, #639BF1 45%, #D95115 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom left, #639BF1 45%, #D95115 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom left, #639BF1 45%, #D95115 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(45, #639BF1), color-stop(100, #D95115));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom left, #639BF1 45%, #D95115 100%);

    /* W3C Markup */
    background-image: linear-gradient(to top right, #639BF1 45%, #D95115 100%);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      text-align: center;
      color: white;
      z-index: 100;
    }
</style>

<div id="login">
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="logo">
          <img src="assets/images/logo.svg">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <label> Password</label>
                <input type="password"
                       id='password'
                       placeholder="Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Login
                </button>
              </div>
            </form>
          </div>

          <div class="ui form" ng-show="regIsOpen">
            <div class="ui divider"></div>
            <div class="field">
              <button id="register"
                      type="submit"
                      class="fluid ui register button"
                      ng-click="register()">
                      Register
              </button>
            </div>
          </div>
        </div>

        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password"
                        type="submit"
                        class="fluid ui login button">
                        Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="ui divider"></div>

        <div ng-show="loginState === 'login'" class="forgot">
          <a href="#" ng-click="setLoginState('forgot')">
            Forgot Password?
          </a>
        </div>

        <div ng-show="loginState === 'forgot'" class="forgot">
          <a href="#" ng-click="setLoginState('login')">
            {{regIsOpen ? 'Login or Register' : 'Login'}}
          </a>
        </div>


      </div>
    </div>

  </div>
</div>
