<div id="admin" class="page">
  <div class="divided title" ng-show="user.admin">
  GOD MODE
  </div>
  <div class="divided title" ng-show="user.volunteer">
  DEMI-GOD MODE
  </div>


  <div class="ui three item menu" ng-show="user.admin">
    <a
      class="item"
      ui-sref="app.admin.stats"
      ui-sref-active="active">
      Stats
    </a>

    <a
      class="item"
      ui-sref="app.admin.users"
      ui-sref-active="active">
      Users
    </a>

    <a
      class="item"
      ui-sref="app.admin.settings"
      ui-sref-active="active">
      Settings
    </a>

    <a
      class="item"
      ui-sref="app.admin.email"
      ui-sref-active="active">
      Email
    </a>
  </div>
  <!-- View for admin panel content -->
  <ui-view></ui-view>
</div>
