<div id="forum" class="ui segment" xmlns="http://www.w3.org/1999/html">
    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui header">
                Members
            </div>
            <div id="users_list">
                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar" ng-model="searchUser" placeholder="Search" >
                        <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span>
                    </div>
                </div>
                <div class="container">
                    <a href="#" class="card human-resources" ng-repeat="new_user in allUsers | filter:searchUser">
                        <div class="overlay"></div>
                        <div class="img">
                            <img class="img_src" ng-if="new_user.src && new_user.src !== ''"  src={{new_user.src}} alt="sunil">
                            <img class="img_src" ng-if="(!new_user.src || new_user.src === '') && new_user.profile.gender === 'M'" src="../../assets/images/user-male.png" alt="sunil">
                            <img class="img_src" ng-if="(!new_user.src || new_user.src === '') && new_user.profile.gender !== 'M'" src="../../assets/images/user-female.png" alt="sunil">
                        </div>
                        <b class="name">{{new_user.profile.name}}</b>
                        <p class="type">{{new_user.mentor ? "Mentor" : "Hacker"}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="table-container" class="thirteen wide column">
            <div class="ui header chat_head">
                Chat
            </div>
            <div>
                <div class="container">
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="headind_srch">
                                <div class="srch_bar">
                                    <div class="stylish-input-group">
                                        <input type="text" class="search-bar" ng-model="searchText" placeholder="Search" >
                                        <span class="input-group-addon">
                                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="mesgs">
                                <div class="msg_history">
                                    <div ng-repeat="value in myForum.messages | filter:searchText" class="msg_box" on-finish-render="ngRepeatFinished">
                                        <div ng-if="value.user.username !== user.profile.name && value.message !== ''">
                                            <div class="incoming_msg_img">
                                                <img class="img_src_msg" ng-if="value.src && value.src !== ''"  src={{value.src}} alt="sunil">
                                                <img class="img_src_msg" ng-if="(!value.src || value.src === '') && value.user.gender === 'M'" src="../../assets/images/user-male.png" alt="sunil">
                                                <img class="img_src_msg" ng-if="(!value.src || value.src === '') && value.user.gender !== 'M'" src="../../assets/images/user-female.png" alt="sunil">
                                            </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p class="nameTag" style="font-size: 12px">{{ value.user.username }}</p>
                                                    <p class="messageTag">{{ value.message }}</p>
                                                    <span class="time_date" ng-bind="value.time | date:'MM/dd/yyyy  hh:mm'"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="value.user.username === user.profile.name && value.message !== ''">
                                            <div class="outgoing_msg">
                                                <div class="sent_msg">
                                                    <p class="nameTag" style="font-size: 12px">{{ value.user.username }}</p>
                                                    <p class="messageTag">{{ value.message }}</p>
                                                    <span class="time_date" ng-bind="value.time | date:'MM/dd/yyyy  hh:mm'"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input ng-model="sentMsg" type="text" placeholder="Type a message" ng-keyup="$event.keyCode == 13 && send()"/>
                                        <button ng-click="send()" class="msg_send_btn" type="button"><i class="text_button" aria-hidden="true">Send</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>