<div id="application" class="page">
  <div class="divided title">
    Sponsor Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form error"
        ng-class="{'loading': loading}">
        <div>{{ user | json }}</div>
        <div>isTitle: {{ isTitle }}</div>
        <div class="divided title">Disclaimer</div>

        <div class="field">
          <p>
            Thank you so much for your interest in sponsoring HackTX 2020!
To learn more about the event, visit the <a href="https://hacktx.com">HackTX event page</a>.
Please fill out the following form with details concerning communication and your sponsorship package. Information on our sponsorship tiers can be found <link pdf>here</link> and by reaching out to your point of contact.
After filling out this form and providing payment, you will be granted access to our resume book either before or after the event (depending on your sponsorship tier).
<strong>Payments are neither made nor tracked through this portal. This form is simply for our bookkeeping purposes. If you need to verify details of your payment, please reach out to your point of contact.</strong>
          </p>
        </div>

        <br>
        <br>

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Company Name* </label>
            <input
              type="text"
              name="companyName"
              ng-model="user.sponsorFields.companyName">
            <label> Representative Email* </label>
            <input
              type="email"
              name="representativeEmail"
              ng-model="user.sponsorFields.representativeEmail">
          </div>

          <div class="two fields">
            <div class="field">
              <label> Representative First Name* </label>
              <input type="text"
                name="representativeFirstName"
                ng-model="user.sponsorFields.representativeFirstName">
            </div>
            <div class="field">
              <label> Representative Last Name*  </label>
              <input type="text"
                name="representativeLastName"
                ng-model="user.sponsorFields.representativeLastName">
            </div>
          </div>

          <br>

          <div class="divided title"> Sponsorship Details </div>
          <div class="field">
            <label> Tier* </label>
            <select name="tier" ng-model="user.sponsorFields.tier" id="tier" style="padding: .52em 1em">
              <option selected value="kilo">Kilo</option>
              <option value="mega">Mega</option>
              <option value="giga">Giga</option>
              <option value="title">Title</option>
            </select>
          </div>

          <div class="field">
            <label> Workshop </label>
            <div ng-if="!isTitle">Note: This will incur an additional cost of $750</div>
            <div ng-if="isTitle">Note: By checking this off, you may host up to 2 workshops/virtual events</div>
            <input type="checkbox"
                   name="workshop"
                   ng-model="user.sponsorFields.workshop">
          </div>

          <div class="field">
            <label>Amount of Time for Opening Statement (seconds)</label>
            <select ng-if="!isTitle && !isGiga" name="tier" type="number" ng-model="user.sponsorFields.openingStatementTime" id="tier">
              <option value="0">0</option>
              <option value="30">30</option>
              <option value="60">60</option>
            </select>
            <select ng-if="isGiga" name="tier" disabled type="number" ng-model="user.sponsorFields.openingStatementTime" id="tier">
              <option selected value="60">60</option>
            </select>
            <select ng-if="isTitle" name="tier" disabled type="number" ng-model="user.sponsorFields.openingStatementTime" id="tier">
              <option selected value="120">120</option>
            </select>
          </div>

          <div class="field">
            <label>Amount of Time for Closing Statement (seconds)</label>
            <select ng-if="!isTitle" name="tier" type="number" ng-model="user.sponsorFields.closingStatementTime" id="tier">
              <option value="0">0</option>
              <option value="30">30</option>
              <option value="60">60</option>
            </select>
            <select ng-if="isTitle" disabled name="tier" type="number" ng-model="user.sponsorFields.closingStatementTime" id="tier">
              <option value="60">60</option>
            </select>
          </div>

          <div id="estimated-cost">Estimated Cost: {{ estimatedCost }}</div>
          <br>

          <div class="divided title"> Other Notes </div>


          <div class="field">
            <textarea name="essay"
              ng-model="user.notes" />
            </div>

              <div class="field" ng-hide="regIsClosed">
                <div class="fluid ui purple submit button"
                  ng-click="submitForm()">
                  Submit
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
