<div id="sponsor-application" class="page">
  <div class="divided title">
    Sponsor Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form error"
        ng-class="{'loading': loading}">
        <!-- <div>{{ user | json }}</div> -->
        <div class="divided title">Disclaimer</div>

        <div class="field">
          <p>
            Thank you so much for your interest in sponsoring HackTX 2020!
            <br><br>
            To learn more about the event, visit the <a href="https://hacktx.com">HackTX event page</a>.
            <br><br>
            Please fill out the following form with details concerning communication and your sponsorship package. Reach out to your point of contact for more information on our tiers.
            <br><br>
            After filling out this form and providing payment, you will be granted access to our resume book either before or after the event (depending on your sponsorship tier).
            <br><br>
            <strong>Payments are neither made nor tracked through this portal. This form is simply for our bookkeeping purposes. If you need to verify details of your payment, please reach out to your point of contact.</strong>
          </p>
        </div>
        <br>
        <br>

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Company Name* </label>
            <input
              type="text"
              name="companyName"
              ng-model="user.sponsorFields.companyName">
          </div>
          <div class="field">
            <label> Representative Email* </label>
            <input
              type="email"
              name="representativeEmail"
              ng-model="user.sponsorFields.representativeEmail">
          </div>
          <div class="two fields">
            <div class="field">
              <label> Representative First Name* </label>
              <input type="text"
                name="representativeFirstName"
                ng-model="user.sponsorFields.representativeFirstName">
            </div>
            <div class="field">
              <label> Representative Last Name*  </label>
              <input type="text"
                name="representativeLastName"
                ng-model="user.sponsorFields.representativeLastName">
            </div>
          </div>

          <br>

          <div class="divided title"> Sponsorship Details </div>
          <div class="field">
            <label> Tier* </label>
            <select name="tier" ng-model="user.sponsorFields.tier" id="tier" style="padding: .52em 1em">
              <option value="">Select Tier</option>
              <option value="kilo">Kilo</option>
              <option value="mega">Mega</option>
              <option value="giga">Giga</option>
              <option value="title">Title</option>
            </select>
          </div>

          <div class="field">
            <label ng-if="!isTitle"> Workshop (Add $750)</label>
            <label ng-if="isTitle"> Workshop</label>
            <div class="ui checkbox">
              <input type="checkbox"
                name="workshop"
                ng-model="user.sponsorFields.workshop"
                ng-disabled="isTitle">
              <label ng-if="!isTitle">We would like to host a virtual event workshop.</label>
              <label ng-if="isTitle">2 workshops/virtual events are included as part of title tier</label>

            </div>
          </div>

          <div class="field">
            <label ng-if="!isTitle && !isGiga">Opening Statement Time (Add $500 per 30 seconds)</label>
            <label ng-if="isTitle || isGiga">Opening Statement Time</label>
            <p>
              Speaking during our opening ceremony is a great way to draw attention to your company!
            </p>
            <div class="ui right labeled input">
              <select class="ui compact selection dropdown" type="number" ng-model="user.sponsorFields.openingStatementTime" ng-init="user.sponsorFields.openingStatementTime='0'" id="tier" ng-disabled="isGiga || isTitle">
                <option value="0" selected>0</option>
                <option value="30">30</option>
                <option value="60">60</option>
                <option ng-if="isTitle" value="120">120</option>
              </select>
              <div class="ui basic label">
                sec
              </div>
            </div>
          </div>

          <div class="field">
            <label ng-if="!isTitle && !isGiga">Closing Remarks Time (Add $500 per 30 seconds)</label>
            <label ng-if="isTitle || isGiga">Closing Remarks Time</label>
            <p>
              Speaking during our closing ceremony is a great way for your company to leave a lasting impact on our attendees!
            </p>
            <div class="ui right labeled input">
              <select class="ui compact selection dropdown" type="number" ng-model="user.sponsorFields.closingStatementTime" id="tier" ng-disabled="isTitle">
                <option value="0" selected>0</option>
                <option value="30">30</option>
                <option value="60">60</option>
                <option ng-if="isTitle" value="120">120</option>
              </select>
              <div class="ui basic label">
                sec
              </div>
            </div>
          </div>

          <div class="field">
            <label>Pledge Total</label>
            <div class="ui labeled input">
              <label for="estimated-cost" class="ui label">$</label>
              <input type="text"
                name="estimatedCost"
                ng-model="user.sponsorFields.estimatedCost"
                id="estimated-cost">
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox"
                name="paid"
                ng-model="user.sponsorFields.paid">
              <label>Have you already paid?</label>
            </div>
          </div>

          <br>

          <div class="divided title"> Other Notes </div>
          <div class="field">
            <textarea name="otherNotes"
              ng-model="user.sponsorFields.otherNotes"
              placeholder="Anything else you would like us to know :)"/>
            </div>

              <div class="field" ng-hide="regIsClosed">
                <div class="fluid ui purple submit button"
                  ng-click="submitForm()">
                  Submit
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>