<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <!-- <div class="ui grid">
        <div class="eight wide column">
          <div class="participant-category">
            <img src="assets/images/logo-color.svg" alt="">
            <p>Students / Professors</p>
          </div>
        </div>
        <div class="eight wide column">
          <div class="participant-category">
            <img src="assets/images/logo-color.svg" alt="">
            <p>Others</p>
          </div>
        </div>
      </div> -->
      <form class="ui form"
            ng-class="{'loading': loading}">

        <div class="field">
          <label>Category (required)</label>
          <select
            name="category"
            ng-model="user.profile.category">
            <option value="">category</option>
            <option value="STUD_PROF">Full-time Student / Professor</option>
            <option value="IND">Individual</option>
            <option value="ORG">Corporate / Startup / NGO / Organisation</option>
          </select>
        </div>

        <br/>
        <br/>

        <div ng-switch="user.profile.category">
          <div ng-switch-when="STUD_PROF">
            <div ng-include src="'views/application/student.html'"></div>
          </div>
          <div ng-switch-when="IND">
            <div ng-include src="'views/application/student.html'"></div>
          </div>
          <div ng-switch-when="ORG">
            <div ng-include src="'views/application/corporates.html'"></div>
          </div>
        </div>

        

        

        <br/>

        <div class="field" ng-hide="regIsClosed || !user.profile.category">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
