<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label> Major </label>
          <input type="text"
                 name="study"
                 placeholder="Computer Science, Product Design, Basket Weaving, etc."
                 ng-model="user.profile.major">
        </div>

        <div class="field">
          <label>Class Standing</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">

            <option value="highschool">High School</option>
            <option value="fresh">Freshman</option>
            <option value="soph">Sophomore</option>
            <option value="junior">Junior</option>
            <option value="senior">Senior</option>
            <option value="master">Masters</option>
            <option value="phd">PhD</option>

          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

      <div class="field">
        <label>Birth Date </label>
        <input type = "date" 
        ng-model="user.profile.birthdate">
        
      </div>

        <div class="field">
          <label>Ethnic Identity</label>
          <select
            name="ethnicity"
            ng-model="user.profile.ethnicity">
            <option value="">Identity</option>
            <option value="AIAN">American Indian or Alaskan Native</option>
            <option value="API">Asian / Pacific Islander</option>
            <option value="BAA">Black or African American</option>
            <option value="H">Hispanic</option>
            <option value="WC">White / Caucasian</option>
            <option value="MCO">Multiple ethnicity / Other not listed</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>If you are interested in taking a bus to BostonHacks 2018, indicate here which city you would be able to be picked up from. (optional)</label>
          <select
            name="busLocation"
            ng-model="user.profile.busLocation">
            <option value="">Bus Location</option>
            <option value="NYC">New York City</option>
            <option value="Philadelphia">Philadelphia</option>
            <option value="Montreal">Montreal</option>
            <option value="Toronto">Toronto</option>
          </select>
        </div>

        <div class="field">
          <label>

              Anything else you'd like us to know? (optional)

          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>

            <strong>
            Unfortunately, for legal reasons we are unable to host minors at BostonHacks 2018. If you are under 18, you will be turned away at the door.

            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <div class="field">
          <p>
            <strong>
            BostonHacks is a safe and friendly hacker space. We thusly ask that you agree to the <a href="http://mlh.io/code-of-conduct">MLH Code of Conduct</a>.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="readCodeOfConduct" ng-model="user.profile.readCodeOfConduct">
            <label for="readCodeOfConduct">I have read and agree to the MLH Code of Conduct</label>
          </div>
        </div>

        <div class="field">
          <p>
            <strong>
              As an MLH-affiliated event, we also ask you to agree to the <a href="https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="discloseMLHAffiliation" ng-model="user.profile.discloseMLHAffiliation">
            <label for="discloseMLHAffiliation">I authorize you to share my application/registration information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy. I further I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
