<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                name="name"
                ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> What's your phone number? (required) </label>
          <p>
            We need this in case we have to urgently contact you!
          </p>
          <input type="tel"
                 name="phone"
                 ng-model="user.profile.phoneNumber"
                 placeholder="(123) - 555 - 1234"
                 required>
        </div>

        <div class="field">
          <label> Date of Birth </label>
          <input type="date"
                  name="birthdate"
                  ng-model="user.profile.birthdate">
        </div>        

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field">
          <label> Race/Ethnicity </label>
          <small> Please select all that apply. </small>

          <style>.select2-search__field {display:none}</style>
          <select name="race" id="race" ng-model="user.profile.race" multiple="multiple">
            <option ng-repeat="race in ['Asian / Pacific Islander', 'Black or African American', 'Hispanic', 'Native American', 'White / Caucasian', 'Prefer Not to Answer']">{{race}}</option>
          </select>
          <script>$("#race").select2();</script>
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label> Major </label> 
          <input class="ui input"
                 name="major"
                 ng-model="user.profile.major">
        </div>

        <div class="field">
          <label> Graduation Year </label>
          <select
            name="year"
            id="gradYears"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <script>
              var graduationYears = document.getElementById("gradYears");

              var y = new Date().getFullYear();

              for (var i = 0; i < 5; i++)
                graduationYears.innerHTML += '<option value="'  + (y + i) + '">' + (y + i) + '</option>';
            </script>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              What would you like to learn or get out of {{ EVENT_INFO.SHORT_NAME }}? (optional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <!--Bonus Questions-->
        <div class="divided title">Bonus Questions</div>
        <div class="field">
          <label>What is your favorite city in the world?</label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.question1">
        </div>
        <div class="field">
          <label>Who's the best school in the universe?</label>
          <select
            name="question2"
            ng-model="user.profile.question2">
            <option value="UMBC">UMBC</option>
            <option value="UMBC2">That school that upset #1 Seed UVA in March Madness</option>
          </select>
        </div>
        <div class="field">
          <label>How are you doing today?</label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.question3">
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by {{ EVENT_INFO.SCHOOL }}, we must know if you are a
            non-{{ EVENT_INFO.SCHOOL }} minor (those under 18) for {{ EVENT_INFO.NAME }}. Checking the box below affirms that you are or will be 18 years or older by {{ EVENT_INFO.START_DATE }}.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a non-{{ EVENT_INFO.SCHOOL }} minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">By checking here, I acknowledge that I understand that to attend HackUMBC, I must be 18 years of age or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        <p>Found a bug? Let us know at <a href="mailto:team@hackumbc.org">team@hackumbc.org</a>.</p>

        </fieldset>
      </div>
    </div>
  </div>
</div>
