<fieldset>
    <div class="divided title">Legal</div>

    <div class="field">
      <label> Liability Waiver (required) </label>
      <p>
        <a
          target="_blank"
          href="https://drive.google.com/file/d/1BzZG-UbPV6JW2-NIf-TcVwxtGpFw5gQV/view?usp=sharing">
          Liability Waiver
        </a>
      </p>
      <p>
        For legal reasons, we ask that you read and accept the terms of our liability waiver. Again, as we mentioned in the registration application - you must be a student or a researcher at an accredited academic institution at the time of registration. <strong>Falsification of information in the registration application may result in denial of participation and/or revocation of any awards.</strong>
      </p>
      <p>
        By writing my name below, I affirm that I have read and accepted the terms of the liability waiver above. 
      </p>
      <input type="text"
             name="signatureLiabilityWaiver"
             placeholder="Your Full Legal Name"
             ng-model="user.confirmation.signatureLiability">
    </div>

    </br>

    <div class="field">
      <label> Photo Release (required) </label>
      <p>
        <a
          target="_blank"
          href="https://drive.google.com/file/d/1bep8jEd3RoQ5MykitsaoFDIUhwY7gsHk/view?usp=sharing">
          Photo Release
        </a>
      </p>
      <p>
        Signing this photo release means if we take photos or photos of you, we can share it with the world.
      </p>
      <p>
        By writing my name below, I affirm that I have read and accepted the terms of the photo release above.
      </p>
      <input type="text"
             name="signaturePhotoRelease"
             placeholder="Your Full Legal Name"
             ng-model="user.confirmation.signaturePhotoRelease">
    </div>

    </br>

    <div class="field">
      <label> Code of Conduct (required) </label>
      <p>
        <a
          target="_blank"
          href="https://drive.google.com/file/d/1KiM8fVRkWDLdgA5OmivPsNfoTBqvBbBr/view?usp=sharing">
          Smart Move Innovative Urban Mobility Challenge Code of Conduct
        </a>
      </p>
      <p>
        It is extremely important to us that attendees follow a set of guidelines to make the event fun for everyone involved. Please read through and make sure you understand what we will be expecting of you.
      </p>
      <p>
        By writing my name below, I affirm that I have read and will abide by the code of conduct detailed above.
      </p>
      <input type="text"
             name="signatureCodeOfConduct"
             placeholder="Your Full Legal Name"
             ng-model="user.confirmation.signatureCodeOfConduct">
    </div>

    <br>
    <br>
</fieldset>