<div id="logistics" ng-class="{ 'fade-out': fadeOut }">
  
  <section id="hero" class="center">
    <div class="logo-header-container ui grid mobile only tablet only">
      <div class="logo-header center">
        <img src="../assets/images/logo-hack.png">
      </div>
    </div>
    
    <div class="title-container">
      <span class="title">
        LOGISTICS
      </span>
    </div>

    <div class="hero-border">
      <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
        <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
      </svg>
    </div>
  </section>

  <section id="content">
    <section class="committee-description-container">
      <div class="title">
        We Make Things Happen
      </div>
      <div class="body">
        The Logistics team at Hack does not only provide a vital part in organizing the annual hackathon, HackUCI, but we also run workshops throughout the year. We aim to educate the student population at UCI on anything computing related and bring in any companies that are able to host workshops as well as workshops run by our very own organizing staff. We are here to be the forefront of the Computer Science community here at UCI and educate anyone and everyone we can that wants to either learn more and dip their feet in something new. We are a very diverse community of people who welcome people from all sorts of backgrounds and experiences. For those who do 
        not know what a hackathon is, it is a 24 -- 36 hour event where a large number of like-minded people meet to engage in a collaborative computer programming, be it hardware or software. We at Hack like to refer this as an “invent-a-thon”, since most of the time people come and make something new or innovate on something already made.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Who We're Looking For
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          General Logistics Organizer
        </div>
        <div class="body">
          <span>
            Logistics is in charge of the entire back end of the event. We book the venue, plan out transportation, read and process our 1000s of applications, send out acceptances, prepare food and much more. Anything you can think of that is related to the day of execution of the event is done by logistics.
          </span>
          <span>
            Much of the work on our team is very time sensitive as things need to be planned early in advance so we have the time to think through everything. You must be exceptionally organized and have a keen attention to detail as things must be done right in order for the event to run as smoothly as possible. You must have strong communication skills as often times things we require need to be discussed among the rest of the team.             
          </span>
          <span class="strong">
            Key Qualifications:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Excellent time management skills.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Ability to communicate any issues that rise to the rest of the team in a timely and efficient manner.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Drive to work in a fast paced environment.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Work in a team based environment in order to meet goals.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Handle a large budget in order to organize events efficiently.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Have an open weekend in the first few weeks of Winter Quarter in order to be able to attend HackUCI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great planning and organization skills.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Attention to detail.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Required to come to 80% of all meetings and workshops run by Hack, with the other 20% being excused absences.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Stay during at least ⅔ of duration of HackUCI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Most importantly, willingness to adapt and learn new things.
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center">
    <div id="footer-content">
      <div class="button-container">
        <a href="https://goo.gl/forms/YppEfQFJQH8KUeww1" target="_blank" class="btn">
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </section>
</div>