<div id="sponsor">
	<section id="hero">
		<div class="hero-content center">
			<div ng-class="{ 'fade-out': fadeOut }">
				<div class="logo-header-container ui grid mobile only tablet only">
					<div class="logo-header logo-cog">
						<img src="../assets/images/logo-cog.svg">
					</div>
					<div class="logo-header">
						<img src="../assets/images/logo-anteater.svg">
					</div>
				</div>
				<div class="hero-title-container">
					<span class="hero-title">Hello.&nbsp;</span>
					<span class="hero-title">We are HackUCI.</span>
				</div>
				<span class="hero-description">A national intercollegiate hackathon hosted at UC Irvine.</span>
			</div>
		</div>
		<div class="hero-border">
			<svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
				<path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
			</svg>
		</div>
	</section>

	<section id="info" class="center">
		<div id="info-content" class="ui grid">
			<div class="title one wide phone four wide tablet three wide computer column">
				Recap
			</div>
			<div class="recap-description one wide phone twelve wide tablet thirteen wide computer column">
				<span>
					HackUCI 2018 was the most successful hackathon we have ever hosted. The event was held from February 2 - 4, 2018 at the University of California - Irvine and over 450 hackers participated and put together their time, energy, and skills to create innovative technology.
				</span>
				<span>
					For HackUCI 2019, we plan to unite an even more diverse and talented group of developers  to build the technology of tomorrow!
				</span>
				<div class="recap-statistics ui grid">
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>450</strong>
						<span>participants</span>
					</div>
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>30%</strong>
						<span>female attendees</span>
					</div>
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>10</strong>
						<span>schools</span>
					</div>
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>36</strong>
						<span>hours</span>
					</div>
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>73</strong>
						<span>projects completed</span>
					</div>
					<div class="two wide phone three wide tablet three wide computer column">
						<strong>9</strong>
						<span>prize categories</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="winners" class="center">
		<div id="winners-content">
			<div class="title">
				Winners
			</div>
			<div class="winners-list">
				<div class="col-md-5ths col-sm-5ths col-xs-6">
					<a href="https://devpost.com/software/valerian" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/browser-education/588787 by Aybige, licensed under CC -->
							<!-- <img src="../assets/images/first-aid-kit.png"> -->
							<i class="fa fa-medkit prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST HEALTH AND WELLNESS HACK
						</div>
						<div class="card-name">
							Valerian
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-6">
					<a href="https://devpost.com/software/halecoin" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/network/764560 by Tinashe Mugayi, licensed under CC -->
							<!-- <img src="../assets/images/social.png"> -->
							<i class="fa fa-users prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST SOCIAL HACK
						</div>
						<div class="card-name">
							HaleCoin
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-6">
					<a href="https://devpost.com/software/veriprint-jvhzi0" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/data-analyze/735734 by Deepz, licensed under CC -->
							<!-- <img src="../assets/images/api.png"> -->
							<i class="fa fa-cogs prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST USE OF SENGRID API
						</div>
						<div class="card-name">
							VeriPrint
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-6">
					<a href="https://hackuci2018.devpost.com/submissions/" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/network/764560 by Tinashe Mugayi, licensed under CC -->
							<!-- <img src="../assets/images/social.png"> -->
							<i class="fa fa-gamepad prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							MOST POLISHED GAME
						</div>
						<div class="card-name">
							Pink
						</div>
						<div class="card-name">
							ChickInfinte
						</div>
						<div class="card-name">
							Pokegatchi
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-12">
					<a href="https://devpost.com/software/pokemon-ar" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC -->
							<!-- <img src="../assets/images/volunteers.png"> -->
							<i class="fa fa-capsules prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							MOST ADDICTING APP
						</div>
						<div class="card-name">
							Pokegatchi
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-12">
					<a href="https://devpost.com/software/chitchat-tech" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC -->
							<!-- <img src="../assets/images/volunteers.png"> -->
							<i class="fa fa-wifi prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST HACK WITH .TECH DOMAIN
						</div>
						<div class="card-name">
							ChitChat.tech
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-12">
					<a href="https://devpost.com/software/sanatree-pq645a" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC -->
							<i class="fa fa-lightbulb prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST ENTREPRENEURIAL HACK
						</div>
						<div class="card-name">
							SanaTree
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-12">
					<a href="https://devpost.com/software/halecoin" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC -->
							<!-- <img src="../assets/images/volunteers.png"> -->
							<i class="fa fa-trophy prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							BEST OVERALL HACK
						</div>
						<div class="card-name">
							HaleCoin
						</div>
					</a>
				</div>
				<div class="col-md-5ths col-sm-5ths col-xs-12">
					<a href="https://devpost.com/software/youtubeedurate" target="_blank" class="winner-card">
						<div class="card-award-icon">
							<!-- https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC -->
							<!-- <img src="../assets/images/volunteers.png"> -->
							<i class="fa fa-award prize-category-icon"></i>
						</div>
						<div class="card-award-title">
							HP Maharaja Honorable Mention
						</div>
						<div class="card-name">
							EDUrate - Youtube
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="sponsors" class="center">
		<div id="sponsors-content">
			<div class="title">
				Past Sponsors
			</div>
			<div id="sponsors-list" class="ui grid">
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/cylance.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/flir.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/knobbemartens.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/restoration.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/pariveda.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/soylent.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/namecheap.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/digitalocean.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/facebook.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/google.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/ibm.png">
				</div>
				<div class="sixteen wide phone eight wide tablet four wide computer column">
					<img src="../assets/images/sponsors/wolfram.png">
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section id="sponsorship" style="display:flex; flex-direction:column; justify-content:space-around">
		<div class="title">
			What's in it for you?
		</div>
		<div id="sponsorship-content">
			<div class="sponsorship-content-title">
				<i class="fa fa-users" aria-hidden="true"></i> Recruiting
			</div>
			<div class="sponsorship-content-description">
				Sponsoring a hackathon will not only give you a direct access to recruit innovative hackers in Southern California, but you will also be able to interview and contact attendees after the event.
			</div>
			<div class="sponsorship-content-title">
				<i class="fa fa-handshake-o" aria-hidden="true"></i> Forming Relationships
			</div>
			<div class="sponsorship-content-description">
				Assisting hackers with your APIs, products, and services fosters relationships with participants. Some of them might well be technology leaders of the future. Let them get to know you as the company that makes the best first impression.
			</div>
			<div class="sponsorship-content-title">
				<i class="fa fa-globe" aria-hidden="true"></i> Branding
			</div>
			<div class="sponsorship-content-description">
				Get your name and brand out to the world! Oftentimes, the average person will not know about your company unless they know their way around the field. Make your presence known before they need to find you.
			</div>
			<div class="sponsorship-content-title">
					<i class="fa fa-info-circle" aria-hidden="true"></i> More Info?
			</div>
			<div class="sponsorship-content-description">
				If you want more information, checkout our <span><a style="text-decoration: underline" href="#">sponsorship packet</a></span>.
			</div>
		</div>
	</section>

	<section id="footer" class="center">
		<div id="footer-content">
			<div class="title">
				HackUCI 2019
			</div>
			<div class="details">
				FEBRUARY 15 – 17, UC IRVINE
			</div>
			<button type="button" ng-click="sponsor()">
					Interested in Sponsoring?
			</button>
		</div>
	</section>

	<div class="ui modal" id="contactModal">
		<div class="header">
			<span class="modal-title">Sponsorship Information</span>
			<div class="close-button">
				<i class="fa fa-times close" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content">
			<form class="ui grid" action="https://formspree.io/hackuci@gmail.com" method="POST">
				<div class="eight wide phone eight wide tablet eight wide computer column">
					<span>Name</span>
					<input type="text" name="Name" placeholder="Jane Doe">
				</div>
				<div class="eight wide phone eight wide tablet eight wide computer column">
					<span>Email</span>
					<input type="email" name="_replyto" placeholder="hello@yourcompany.com">
				</div>
				<div class="eight wide phone eight wide tablet eight wide computer column">
					<span>Phone</span>
					<input type="number" name="Phone" placeholder="949-555-6789">
				</div>
				<div class="eight wide phone eight wide tablet eight wide computer column">
					<span>Company</span>
					<input type="text" name="Company" placeholder="Better Startups, Inc.">
				</div>
				<span class="benefits-label sixteen wide column">Benefits</span>
				<div class="col-md-4 column field">
					<div class="ui checkbox">
						<input type="checkbox" value="API (Product) Demo" ng-model="benefits">
						<label>API (Product) Demo</label>
					</div>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Custom Branded Prize"> Custom Branded Prize
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Pre-Hackathon Workshop"> Pre-Hackathon Workshop
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Tech Talk During Event"> Tech Talk During Event
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Mini-Activity"> Mini-Activity
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Future Workshop with Hack"> Future Workshop with Hack
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Opening Speech"> Opening Speech
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Closing Speech"> Closing Speech
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Access to Attendee Resumes"> Access to Attendee Resumes
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Company Lounge"> Company Lounge
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Company Sponsored Raffle"> Company Sponsored Raffle
					</label>
				</div>
				<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" value="Pre-Hackathon Social Media Post"> Pre-Hackathon Social Media Post
					</label>
				</div>
				<div class="col-md-12">
					<span class="comments-label">Additional Comments</span>
					<input type="textarea" name="Additional Comments" placeholder="Say hi to us! :-)">
				</div>
				<input type="hidden" name="Benefits" value="" />
				<input type="hidden" name="_next" value="http://www.hackuci.com/sponsor" />
				<input type="hidden" name="_subject" value="HackUCI Sponsorship Request" />
				<input type="submit" value="Send">
			</form>
		</div>
	</div>
</div>