<div id="stats">

  <div
    class="ui green segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Stats
    </div>
    <div class="content">
      <em> Last updated: {{fromNow(stats.lastUpdated)}}</em>
      <div class="ui list">
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total Users
            </strong> :
            {{stats.total}}
          </div>
        </div>
        <em> Hackers </em>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total
            </strong> :
            {{stats.totalHackers}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Verified
            </strong> :
            {{stats.verifiedHackers}} ({{stats.verifiedHackers / stats.totalHackers * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Submitted
            </strong> :
            {{stats.submittedHackers}} ({{stats.submittedHackers / stats.totalHackers  * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Admitted
            </strong> :
            {{stats.admittedHackers}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Confirmed
            </strong> :
            {{stats.confirmedHackers}}
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Declined
            </strong> :
              {{stats.declinedHackers}}
          </div>
        </div>
        <em> Mentors </em>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total
            </strong> :
            {{stats.totalMentors}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Verified
            </strong> :
            {{stats.verifiedMentors}} ({{stats.verifiedMentors / stats.totalMentors * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Submitted
            </strong> :
            {{stats.submittedMentors}} ({{stats.submittedMentors / stats.totalMentors  * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Admitted
            </strong> :
            {{stats.admittedMentors}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
              Confirmed
            </strong> :
            {{stats.confirmedMentors}}
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Declined
            </strong> :
              {{stats.declinedMentors}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="green flag icon"></i>
          <div class="content">
            <strong>
              Checked In Hackers
            </strong> :
              {{stats.checkedInHackers}}
          </div>
        </div>

        <div class="item">
          <i class="green flag icon"></i>
          <div class="content">
            <strong>
              Checked In Mentors
            </strong> :
              {{stats.checkedInMentors}}
          </div>
        </div>

        <div class="ui divider"></div>
        <em>Hackers</em>
        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Unisex shirt sizes:
            </strong> :
              XS ({{stats.shirtSizesHackers['XS']}})
              S ({{stats.shirtSizesHackers['S']}})
              M ({{stats.shirtSizesHackers['M']}})
              L ({{stats.shirtSizesHackers['L']}})
              XL ({{stats.shirtSizesHackers['XL']}})
              XXL ({{stats.shirtSizesHackers['XXL']}})
          </div>
        </div>

        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Women's shirt sizes:
            </strong> :
              XS ({{stats.shirtSizesHackers['WXS']}})
              S ({{stats.shirtSizesHackers['WS']}})
              M ({{stats.shirtSizesHackers['WM']}})
              L ({{stats.shirtSizesHackers['WL']}})
              XL ({{stats.shirtSizesHackers['WXL']}})
              XXL ({{stats.shirtSizesHackers['WXXL']}})
          </div>
        </div>

        <div class="ui divider"></div>
        <em>Mentors</em>
        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Unisex shirt sizes:
            </strong> :
              XS ({{stats.shirtSizesMentors['XS']}})
              S ({{stats.shirtSizesMentors['S']}})
              M ({{stats.shirtSizesMentors['M']}})
              L ({{stats.shirtSizesMentors['L']}})
              XL ({{stats.shirtSizesMentors['XL']}})
              XXL ({{stats.shirtSizesMentors['XXL']}})
          </div>
        </div>

        <div class="item">
          <i class="child icon"></i>
          <div class="content">
            <strong>
              Women's shirt sizes:
            </strong> :
              XS ({{stats.shirtSizesMentors['WXS']}})
              S ({{stats.shirtSizesMentors['WS']}})
              M ({{stats.shirtSizesMentors['WM']}})
              L ({{stats.shirtSizesMentors['WL']}})
              XL ({{stats.shirtSizesMentors['WXL']}})
              XXL ({{stats.shirtSizesMentors['WXXL']}})
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="plug icon"></i>
          <div class="content">
            <strong>
              Need/Want Hardware (Hackers Only):
            </strong>{{stats.wantsHardware}}
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="item">
          <i class="food icon"></i>
          <div class="content">
            <strong>
              Dietary Restrictions:
            </strong>
            <span
              ng-repeat="restriction in stats.dietaryRestrictions | orderBy: '-count'">
              {{restriction.name}} ({{restriction.count}})
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div
    class="ui pink segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Demographics
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Total users</strong>: {{stats.total}}
        </div>
      </div>
      <div class="item">
        <i class="female icon"></i>
        <div class="content">
          <strong>Female</strong>: {{stats.demo.gender['F']}} ({{stats.demo.gender['F'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="male icon"></i>
        <div class="content">
          <strong>Male</strong>: {{stats.demo.gender['M']}} ({{stats.demo.gender['M'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="other gender icon"></i>
        <div class="content">
          <strong>Other</strong>: {{stats.demo.gender['O']}} ({{stats.demo.gender['O'] / stats.total * 100 | number:1}}%)
        </div>
      </div>
      <div class="item">
        <i class="question icon"></i>
        <div class="content">
          <strong>Did not respond</strong>: {{stats.demo.gender['N']}} ({{stats.demo.gender['N'] / stats.total * 100 | number:1 }}%)
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
      <div class="ui list">
        <strong>
          Hackers Graduation Year:
        </strong>
        <div class="item"
        ng-repeat="year in stats.demo.years | orderBy: '-count'">
          <strong>{{year.year}}</strong>: {{year.count.count}} ({{year.count.count / stats.totalHackers * 100 | number: 1}}%)
        </div>
      </div>
    <div class="ui divider"></div>
    <strong>Schools :</strong>
    <div class="ui list">
      <div
        class="item"
        ng-repeat="school in stats.demo.schools | orderBy: '-count'">
        <div class="content">
          <strong>{{school.email}}</strong> : {{school.count}} ({{school.count / stats.totalHackers * 100 | number: 1}}%)
          <p>
          <div class="ui purple mini label">
            Submitted: {{school.stats.submitted}}
          </div>
          <div class="ui pink mini label">
            Admitted: {{school.stats.admitted}}
          </div>
          <div class="ui green mini label">
            Confirmed: {{school.stats.confirmed}}
          </div>
          <div class="ui red mini label">
            Declined: {{school.stats.declined}}
          </div>
          </p>
          <div class="ui divider"></div>
        </div>
      </div>
    </div>

    <strong>Companys :</strong>
    <div class="ui list">
      <div
          class="item"
          ng-repeat="company in stats.demo.companys | orderBy: '-count'">
        <div class="content">
          <strong>{{company.email}}</strong> : {{company.count}} ({{company.count / stats.totalMentors * 100 | number: 1}}%)
          <p>
          <div class="ui purple mini label">
            Submitted: {{company.stats.submitted}}
          </div>
          <div class="ui pink mini label">
            Admitted: {{company.stats.admitted}}
          </div>
          <div class="ui green mini label">
            Confirmed: {{company.stats.confirmed}}
          </div>
          <div class="ui red mini label">
            Declined: {{company.stats.declined}}
          </div>
          </p>
          <div class="ui divider"></div>
        </div>
      </div>
    </div>
  </div>

<!--   <div
    class="ui purple segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Team Names
    </div>
    <div class="ui list">
      <div
        class="item"
        ng-repeat="team in stats.teams | orderBy: 'name'">
        <div class="header">
          {{team.name}}
        </div>
        {{team.users.join(', ')}}
      </div>
    </div>
  </div> -->

</div>
