<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       Profile
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email"
               name="email"
               disabled="disabled"
               ng-model="selectedUser.email">
      </div>

      <div class="field">
        <label> Full Name </label>
        <input type="text"
               name="name"
               ng-model="selectedUser.profile.name">
      </div>

      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               disabled="disabled"
               ng-show="autoFilledSchool"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               name="school"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field">
        <label>Graduation Year</label>
        <select
          name="year"
          ng-model="selectedUser.profile.graduationYear">
          <option value="">Graduation Year</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
      </div>

      <div class="field">
        <label>Date of Birth (MM/DD/YYYY)</label>
        <input type="text" name="dateofbirth" ng-model="selectedUser.profile.dateofbirth">
      </div>

      <div class="field">
        <label>Gender</label>
        <select
          name="gender"
          ng-model="selectedUser.profile.gender">
          <option value="">Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
          <option value="N">I prefer not to answer.</option>
        </select>
      </div>

      <div class="field">
        <label> Resume </label>
        <input type="url" ng-model="selectedUser.profile.resume" />
      </div>

      <div class="field">
        <label>I would describe myself as a...</label>
        <input type="text"
               placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
               ng-model="selectedUser.profile.description">
      </div>

      <div class="field">
        <label>Github</label>
        <input type="text" name="github" placeholder="@username" ng-model="selectedUser.profile.github">
      </div>

      <div class="field">
        <label>MLH Code of Conduct</label>
        <div class="ui checkbox">
          <input type="checkbox" id="mlh" ng-model="selectedUser.profile.mlh">
          <label for="mlh">I agree to MLH CoC</label>
        </div>
      </div>

      <div class="field">
        <label>HtH Code of Conduct</label>
        <div class="ui checkbox">
          <input type="checkbox" id="hthconduct" ng-model="selectedUser.profile.hthconduct">
          <label for="hthconduct">I agree to HtH CoC</label>
        </div>
      </div>

      <div class="field">
        <label for="adult">I am older than 18 or go to WKU/The Gatton Academy.</label>
        <div class="ui checkbox">
          <input type="checkbox" id="adult" ng-model="selectedUser.profile.adult">
          <label for="adult">I am 18 or older.</label>
        </div>
      </div>

      <div class="field">
        <div
          ng-click="updateProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" ng-model="selectedUser.confirmation.phoneNumber" />
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <input
          type="text" ng-model="selectedUser.confirmation.dietaryRestrictions" />
      </div>

      <div class="field">
        <label> Shirt Size </label>
        <input type="text" ng-model="selectedUser.profile.shirtSize" />
      </div>

      <div class="field">
        <label> Major </label>
        <input type="text" ng-model="selectedUser.profile.major" />
      </div>

      <div class="field">
        <label> Twitter </label>
        <input type="text"
               name="twitter"
               placeholder="https://twitter.com/foobar"
               ng-model="selectedUser.confirmation.twitter">
      </div>

      <div class="field">
        <label> Website </label>
        <input type="url" ng-model="selectedUser.profile.website" />
      </div>

      <div class="ui divider"></div>

      <div class="field">
        <label>
          Needs Hardware
        </label>
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.wantsHardware">
          <label> Yup, I need hardware </label>
        </div>
      </div>

      <div class="field">
        <label>
        Hardware
        </label>
        <input type="text" ng-model="selectedUser.confirmation.hardware">
      </div>

      <div class="ui divider"></div>

      <div class="field">
        <label> Forms (required)</label>
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.formSign" name="formSign">
          <label> Yup, I'll sign my life away </label>
        </div>
      </div>

      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div>

    </fieldset>

  </div>
</div>
