<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui bottom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Reviewed by: </strong> {{(selectedUser.status.reviewedBy ? selectedUser.status.reviewedBy : 'Not Reviewed')}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="divided title">About You</div>

      <div class="field">
        <label> First Name </label>
        <input type="text"
               id="firstName"
               ng-model="selectedUser.profile.firstName">
      </div>

      <div class="field">
        <label> Last Name </label>
        <input type="text"
               id="lastName"
               ng-model="selectedUser.profile.lastName">
      </div>

      <div class="field">
        <label> Gender </label>
        <select
                id="gender"
                ng-model="selectedUser.profile.gender">
          <option value=""></option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
          <option value="Prefer not to answer">Prefer not to answer</option>
        </select>
      </div>

      <div class="field">
        <label> Ethnicity </label>
        <select
                id="ethnicity"
                ng-model="selectedUser.profile.ethnicity">
          <option value=""></option>
          <option value="White / Caucasian">White / Caucasian</option>
          <option value="Black or African American">Black or African American</option>
          <option value="Native American or Alaska Native">Native American or Alaska Native</option>
          <option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
          <option value="Hispanic / Latinx">Hispanic / Latinx</option>
          <option value="Multiracial / Other">Multiracial / Other</option>
          <option value="Prefer not to answer">Prefer not to answer</option>
        </select>
      </div>


      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               disabled="disabled"
               ng-show="autoFilledSchool"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <div id="school" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="" name="school"
                   ng-model="selectedUser.profile.school">
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <label> Year </label>
        <select
                id="year"
                ng-model="selectedUser.profile.year">
          <option value=""></option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="High School">High School</option>
          <option value="Graduate">Graduate</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="field">
        <label> Major </label>
        <div id="major" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="" name="major"
                   ng-model="selectedUser.profile.major">
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <label> Hackathon Experience </label>
        <select
                id="experience"
                ng-model="selectedUser.profile.experience">
          <option value=""></option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>

      <div class="field">
        <label> Resume</label>
        <label for="resume" class="resumeInput"> Upload </label>
        <!--Angular does not support binding for file inputs so we have to manually call upload-->
        <input type="file"
               style="display:none"
               accept="application/pdf"
               id="resume"
               name="resume"
               onchange="angular.element(this).scope().uploadFile(this)"/>
        <span ng-show="fileLoading">Uploading...</span>
        <a ng-href="{{selectedUser.profile.resume.link}}" target="_blank">{{selectedUser.profile.resume.name}}</a>
        <br>
        <span class="asterisk">*pdf only</span>
      </div>

      <div class="divided title">Short Response</div>

      <div class="field">
        <label>{{ APPLICATION.ESSAY1_TITLE }}</label>
        <textarea
                id="essay1"
                ng-model="selectedUser.profile.essay1"
                placeholder="{{ APPLICATION.ESSAY1_PLACEHOLDER }}">
                        </textarea>
        <span class="characterCount">{{selectedUser.profile.essay1.length ? selectedUser.profile.essay1.length : 0}}/1500</span>
      </div>

      <div class="field">
        <label>{{ APPLICATION.ESSAY2_TITLE }}</label>
        <textarea
                id="essay2"
                ng-model="selectedUser.profile.essay2"
                placeholder="{{ APPLICATION.ESSAY2_PLACEHOLDER }}">
                        </textarea>
        <span class="characterCount">{{selectedUser.profile.essay2.length ? selectedUser.profile.essay2.length : 0}}/1500</span>
      </div>

      <div class="field">
        <label>{{ APPLICATION.ESSAY3_TITLE }}</label>
        <input
                type="text"
                id="essay3"
                ng-model="selectedUser.profile.essay3"
                placeholder="{{ APPLICATION.ESSAY3_PLACEHOLDER }}">
        <span class="characterCount">{{selectedUser.profile.essay3.length ? selectedUser.profile.essay3.length : 0}}/500</span>

      </div>

      <div class="field">
        <label>Skills and Technologies (Optional)</label>
        <textarea
                type="text"
                ng-model="selectedUser.profile.skills"
                class="skills">
        </textarea>
        <span class="asterisk">Enter skills and technologies you know using a comma separated list</span>
      </div>

      <div class="field">
        <label>LinkedIn (Optional)</label>
        <input
                type="text"
                ng-model="selectedUser.profile.linkedin">
      </div>

      <div class="field">
        <label>Github (Optional)</label>
        <input
                type="text"
                ng-model="selectedUser.profile.github">
      </div>

      <div class="field">
        <label>Other (Optional)</label>
        <input
                type="text"
                ng-model="selectedUser.profile.other">
      </div>

      <br>

      <div class="divided title">Transportation</div>

      <div class="field">
        <p>
          We will be sending busses to and from HackSC for schools in California.
          There is no guarantee we will send a bus to your school, but we will consider based on
          interest.
        </p>
        <div class="ui checkbox">
          <input type="checkbox" id="transportation" ng-model="selectedUser.profile.transportation">
          <label for="transportation">I will need transportation to and from HackSC.</label>
        </div>
      </div>

      <div class="divided title">Legal</div>

      <div class="field">
        <p>
          Because of limitations imposed by USC, we are not legally allowed to host
          minors (those under 18) for HackSC. Checking the box below confirms that you are or will
          be 18 years or older by April 12th, 2019.
          <br><strong>We will be checking IDs.</strong>
        </p>
        <div class="ui checkbox">
          <input type="checkbox" id="adult" ng-model="selectedUser.profile.adult">
          <label for="adult">I will be 18 or older by April 12th, 2019.</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="mlh" ng-model="selectedUser.profile.mlh">
          <label for="mlh">
            I have read and agree to the
            <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
              MLH Code of Conduct
            </a>
            . I agree to the terms of both the
            <a target="_blank"
               href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">
              MLH Contest Terms and Conditions
            </a>
            and the
            <a target="_blank" href="https://mlh.io/privacy">
              MLH Privacy Policy
            </a>.
          </label>
        </div>
      </div>

      <br>

      <div class="field">
        <div class="field btn">
          <button type="submit"
                  class="fluid ui green button"
                  ng-click="updateProfile()">
            Update Profile
          </button>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" ng-model="selectedUser.confirmation.phoneNumber" />
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <input
          type="text" ng-model="selectedUser.confirmation.dietaryRestrictions" />
      </div>

      <div class="field">
        <label> Shirt Size </label>
        <input type="text" ng-model="selectedUser.profile.shirtSize" />
      </div>

      <div class="field">
        <label> Major </label>
        <input type="text" ng-model="selectedUser.profile.major" />
      </div>

      <div class="field">
        <label> Github </label>
        <input type="url" ng-model="selectedUser.profile.github" />
      </div>

      <div class="field">
        <label> Website </label>
        <input type="url" ng-model="selectedUser.profile.website" />
      </div>

      <div class="field">
        <label> Resume </label>
        <input type="url" ng-model="selectedUser.profile.resume" />
      </div>

      <div class="ui divider"></div>

      <div class="field">
        <label>
          Needs Hardware
        </label>
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.wantsHardware">
          <label> Yup, I need hardware </label>
        </div>
      </div>

      <div class="field">
        <label>
        Hardware
        </label>
        <input type="text" ng-model="selectedUser.confirmation.hardware">
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Hosting
      </div>

      <div class="field">
        <strong> Needs Hosting Friday </strong>
        <i
          ng-if="selectedUser.confirmation.hostNeededFri"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.hostNeededFri"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Needs Hosting Saturday </strong>
        <i
          ng-if="selectedUser.confirmation.hostNeededSat"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.hostNeededSat"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Gender Neutral </strong>
        <i
          ng-if="selectedUser.confirmation.genderNeutral"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.genderNeutral"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Cat Friendly </strong>
        <i
          ng-if="selectedUser.confirmation.catFriendly"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.catFriendly"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Smoking Friendly </strong>
        <i
          ng-if="selectedUser.confirmation.smokingFriendly"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.smokingFriendly"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <label> Hosting Notes </label>
        <textarea ng-model="selectedUser.confirmation.hostNotes"></textarea>
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Travel
      </div>

      <div class="field">
        <strong> Needs Reimbursement</strong>
        <i
          ng-if="selectedUser.confirmation.needsReimbursement"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.needsReimbursement"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <label>Full Name</label>
        <input type="text"
               name="name"
               ng-model="selectedUser.confirmation.address.name">
      </div>

      <div class="field">
        <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
        <input
          type="text"
          name="addressLine1"
          ng-model="selectedUser.confirmation.address.line1">
      </div>

      <div class="field">
        <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
        <input
          type="text"
          name="addressLine2"
          ng-model="selectedUser.confirmation.address.line2">
      </div>

      <div class="four fields">
        <div class="field">
          <label> City </label>
          <input
            type="text"
            name="city"
            ng-model="selectedUser.confirmation.address.city">
        </div>
        <div class="field">
          <label> State/Province/Region </label>
          <input
            type="text"
            name="state"
            ng-model="selectedUser.confirmation.address.state">
        </div>
        <div class="field">
          <label> ZIP </label>
          <input
            type="text"
            name="zip"
            ng-model="selectedUser.confirmation.address.zip">
        </div>
        <div class="field">
          <label> Country </label>
          <input
            type="text"
            name="country"
            ng-model="selectedUser.confirmation.address.country">
        </div>
      </div>

      <div class="field">
        <label> Receipt </label>
        <input type="url" ng-model="selectedUser.confirmation.receipt" />
      </div>

      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div>

    </fieldset>

  </div>
</div>
