<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">
  <div>
    <div class="ui header">
      Actions
    </div>

    <button
      ng-click="toggleCheckIn($event, user, $index)"
      class="ui circular mini basic green icon button">

      <i
        ng-if="!selectedUser.status.checkedIn"
        class="flag outline icon"></i>

      <i
        ng-if="selectedUser.status.checkedIn"
        class="green flag icon"></i>
    </button>
  </div>

  <div class="ui divider"></div>

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <!-- <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

       <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset> -->

  </div>
<!-- 
  <div class="ui divider"></div> -->

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       Profile
      </div>

      <div class="field">
        <label> Email </label>
        <p>{{selectedUser.email}}</p>
      </div>

      <div class="field">
        <label> Full Name </label>
        <p>{{selectedUser.profile.name}}</p>
      </div>

      <div class="field">
        <label> School </label>
        <p>{{selectedUser.profile.school}}</p>
      </div>

      <div class="field">
        <label>Graduation Year</label>
        <p>{{selectedUser.profile.graduationYear}}</p>
      </div>

      <div class="field">
        <label>Gender</label>
        <p>{{selectedUser.profile.gender}}</p>
      </div>

      <div class="field">
        <label>I would describe myself as a...</label>
        <p>{{selectedUser.profile.description}}</p>
      </div>

      <div class="field">
        <label>
            What would you like to learn or get out of HackUMBC? (optional)
        </label>
        <p>{{selectedUser.profile.essay}}</p>
        <p ng-show="!selectedUser.profile.essay">N/A</p>
      </div>

      <div class="field"
           ng-hide="isUMBCStudent">
        <p>
          Because of limitations imposed by UMBC, we are not legally allowed to host
          non-UMBC minors (those under 18) for HackUMBC 2018. Checking the box below affirms that you are or will be 18 years or older by October 20th, 2018.
        </p>
        <p>
          <strong>
          We will be checking ID. If you are a non-UMBC minor, you will be turned away at the door.
          </strong>
        </p>
        <div class="ui checkbox">
            <p ng-show="selectedUser.profile.adult">Adult</p>
            <p ng-show="!selectedUser.profile.adult">Minor</p>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <p>{{selectedUser.confirmation.phoneNumber}}</p>
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <p>{{selectedUser.confirmation.dietaryRestrictions}}</p>
      </div>

      <div class="field">
        <label> Shirt Size </label>
        <p>{{selectedUser.confirmation.shirtSize}}</p>
      </div>

      <div class="field">
        <label> Major </label>
        <p>{{selectedUser.confirmation.major}}</p>
      </div>

      <div class="field">
        <label> Website </label>
        <p>{{selectedUser.confirmation.website}}</p>
        <p ng-show="!selectedUser.confirmation.website">N/A</p>
      </div>

      <!-- <div class="field">
        <label> Resume </label>
        <p>{{selectedUser.profile.resume}}</p>
      </div> -->

      <div class="ui divider"></div>

      <div class="field">
        <label>
          Needs Hardware
        </label>
        <p ng-show="selectedUser.confirmation.wantsHardware">Yes</p>
        <p ng-show="!selectedUser.confirmation.wantsHardware">No</p>
      </div>

      <div class="field">
        <label>
        Hardware
        </label>
        <p>{{selectedUser.confirmation.hardware}}</p>
        <p ng-show="!selectedUser.confirmation.hardware">N/A</p>
      </div>

      <!-- <div class="ui divider"></div>

      <div class="ui header">
        Travel
      </div>

      <div class="field">
        <strong> Needs Reimbursement</strong>
        <i
          ng-if="selectedUser.confirmation.needsReimbursement"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.needsReimbursement"
          class="red remove circle icon">
        </i>
      </div> -->

      <!-- <div class="field">
        <label>Full Name</label>
        <input type="text"
               name="name"
               ng-model="selectedUser.confirmation.address.name">
      </div>

      <div class="field">
        <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
        <input
          type="text"
          name="addressLine1"
          ng-model="selectedUser.confirmation.address.line1">
      </div>

      <div class="field">
        <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
        <input
          type="text"
          name="addressLine2"
          ng-model="selectedUser.confirmation.address.line2">
      </div>

      <div class="four fields">
        <div class="field">
          <label> City </label>
          <input
            type="text"
            name="city"
            ng-model="selectedUser.confirmation.address.city">
        </div>
        <div class="field">
          <label> State/Province/Region </label>
          <input
            type="text"
            name="state"
            ng-model="selectedUser.confirmation.address.state">
        </div>
        <div class="field">
          <label> ZIP </label>
          <input
            type="text"
            name="zip"
            ng-model="selectedUser.confirmation.address.zip">
        </div>
        <div class="field">
          <label> Country </label>
          <input
            type="text"
            name="country"
            ng-model="selectedUser.confirmation.address.country">
        </div>
      </div>

      <div class="field">
        <label> Receipt </label>
        <input type="url" ng-model="selectedUser.confirmation.receipt" />
      </div>

      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div> -->

    </fieldset>

  </div>
</div>
