<div id="mailer">

    <div
        class="ui form blue segment">
        <div class="ui header">
            Mass Mailer
        </div>
        <div class="ui three column grid">
            <div class="field column">
                <label>Sender</label>
                <select
                        id="sender"
                        ng-model="sender">
                    <option ng-repeat="sender in senderOptions" value="{{sender}}">
                        {{sender}}
                    </option>
                </select>
            </div>
            <div class="field column">
                <label>Recipient</label>
                <select
                        id="recipient"
                        ng-model="recipient">
                    <option ng-repeat="recipient in recipientOptions" value="{{recipient}}">
                        {{recipient}}
                    </option>
                </select>
            </div>
            <div class="field column">
                <label>Schools</label>
                <select
                        id="schoolsRecipient"
                        ng-model="schoolRecipient">
                    <option value="all">all</option>
                    <option value="non-usc">non-usc</option>
                    <option ng-repeat="school in schools | orderBy: 'school.name'" value="{{school.email}}">
                        {{school.name}} ({{school.email}})
                    </option>
                </select>
            </div>
        </div>
        <div class="field"
            ng-show="recipient == 'custom'">
            <label>Custom Recipients (Comma Separated)</label>
            <div
                    class="ui label"
                    ng-repeat="recipient in customRecipients.replace(' ','').split(',')">
                {{recipient}}
            </div>
            <input
                class="ui input"
                ng-model="customRecipients"
                type="text"
                />
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <label>Title</label>
            <input
                class="ui input"
                ng-model="mailTitle"
                type="text"
                />
        </div>
        <div class="field">
            <label>Body</label>
            <p style="font-size: 12px">Use the left side as reference, because will send out unescaped HTML</p>
            <div class="ui stackable two column grid">
                <div class="column">
                <textarea
                        class="ui input"
                        type="text"
                        ng-model="mailText">
                </textarea>
                </div>
                <div class="column">
                    <div
                            class="preview ui segment"
                            ng-bind-html="markdownPreview(mailText)">
                    </div>
                </div>
            </div>
        </div>
        <div
                class="ui green button"
                ng-click="sendMail(mailTitle, mailText)">
            Send
        </div>
    </div>

</div>
