<div id="sidebar"
     ng-class="{open: showSidebar}">
  <div ui-sref="app.dashboard"
       class="logo item">
    <img src="assets/images/logo.png" style="height: 200px;">
  </div>

  <div ui-sref-active="active"
       ui-sref="app.dashboard"
       class="item">
    Dashboard
  </div>

  <div
      ui-sref-active="active"
      ui-sref="app.profile"
      ng-show="currentUser.status.confirmed && currentUser.status.admitted && !currentUser.status.declined"
      class="item">
      Profile
  </div>

  <div
      ui-sref-active="active"
      ui-sref="app.attendees"
      ng-show="currentUser.status.confirmed && currentUser.status.admitted && !currentUser.status.declined"
      class="item">
      Attendees
  </div>

  <div ng-show="currentUser.verified">

    <div
      ui-sref-active="active"
      ui-sref="app.applicationUser"
      ng-show="!currentUser.status.declined && !currentUser.mentor"
      class="item">
      Application
    </div>

    <div
    ui-sref-active="active"
    ui-sref="app.applicationMentor"
    ng-show="!currentUser.status.declined && currentUser.mentor"
    class="item">
    Application
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.confirmation"
      ng-show="!pastConfirmation && currentUser.status.admitted && !currentUser.status.declined"
      class="item">
      Confirmation
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.forum"
      ng-show="!currentUser.status.declined && !currentUser.admin"
      class="item">
      Forums
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.team"
      ng-show="!currentUser.status.declined"
      class="item">
      Team
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.admin.stats"
      class="item"
      ng-show="currentUser.admin">
      Admin
    </div>

    <div
       ui-sref-active="active"
       ui-sref="app.scoring"
       class="item"
       ng-show="currentUser.mentor">
      Scoring System
    </div>

  </div>

  <div class="item"
       ng-click="logout()">
    Logout
  </div>

  <div class="message_box">
    <div class="messages">
      <b class="message_header" ng-if="!currentUser.admin">Event Updates</b>
      <b class="message_header" ng-if="currentUser.admin" ng-click="openForm()">
        <button class="update_btn"> Event Updates +</button>
      </b>
      <ul class="general_massages">
        <li ng-repeat="update in updates | orderBy:'-date'">{{update.date | date:'MM/dd hh:mm'}} : <b>{{update.message}}</b></li>
      </ul>
    </div>
    <div class="form-popup" id="myForm">
      <form class="form-container">
        <b><p class="form-header">New Update</p></b>
        <b><textarea type="text" placeholder="Enter Update" ng-model="updateText" required></textarea></b>
        <button type="submit" class="ui purple button btn" ng-click="addUpdate()">SEND</button>
        <button type="button" class="ui red button btn" ng-click="closeForm()">CANCEL</button>
      </form>
    </div>
  </div>

  <div class="note">
    {{ EVENT_INFO.NAME }}
  </div>

</div>

<div class="tab"
  ng-click="toggleSidebar()">
  <img ng-show="!showSidebar" src="assets/images/logo.svg" />
  <span class="close" ng-show="showSidebar">&#x2715</span>
</div>


