<div id="team" class="page">
  <div class="divided title">Team</div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui segment">
        <p ng-show="!user.teamCode && regIsOpen && !(user.profile.category=='ORG')">
          Create a team with a unique name here. You can add your teammates using their email address
          <strong
            >Remember that it is mandatory to have at least one person of Indian
            nationality in your team.</strong
          >
          A team can have a maximum of four members. Read the
          <a href="https://smartmove.niua.org/#/guidelines"
            >challenge guidelines</a
          >
          for more details.
        </p>
        <div ng-show="!user.teamCode && !regIsOpen">
          <p>{{ TEAM.NO_TEAM_REG_CLOSED }}</p>
        </div>
        <div class="ui form" ng-show="!user.teamCode && regIsOpen">
          <div class="title">Create a Team</div>

          <br />

          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Choose your team name..."
              ng-model="code"
            />
          </div>

          <div class="field">
            <button class="ui fluid pink button" ng-click="joinTeam()">
              Create Team
            </button>
          </div>
        </div>

        <div ng-show="user.teamCode && user.profile.category=='ORG'" style="text-align: center">
          <h5>Team Name: </h5> {{user.teamCode}}
          <br/>
          <button class="ui fluid red button" ng-click="leaveTeam()" style="margin-top: 30px;">
            Change Team Name
          </button>
        </div>

        <div ng-show="user.teamCode && !(user.profile.category=='ORG')">
          <p><strong>{{ nationalityWarning }}</strong></p>
          <p ng-if="user.teamCode===user.teamAdmin"><strong>Now You're a Team Leader, Add your team mates</strong></p>
          <div class="form">
            <div class="title">Your Team Name:</div>
          </div>
          <br />
          <div class="subheader" style="text-transform: capitalize">
            {{user.teamCode}}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">Your Team:</div>
          </div>

          <p ng-repeat="user in teammates" class="item">
            {{user.profile.name || 'Somebody (has not filled out their
            profile!)'}} {{parseNationality(user.profile.nationality)}}
          </p>
          <!-- <p>{{user.profile.name}} (Team Lead)</p>
          <p ng-repeat="teammate in teammates" class="item">
            {{ teammate }} 
          </p> -->
          
          <div ng-show="regIsOpen">
            <div class="ui divider"></div>

            <button class="ui fluid red button" ng-click="leaveTeam()">
              Leave Team
            </button>
          </div>

          <div
            class="ui form"
            ng-show="user.teamCode === user.teamAdmin && regIsOpen"
          >
            <div class="title">Enter your Teammate's Email</div>
            <br />
            <div class="field">
              <input
                class="ui input"
                type="email"
                placeholder="Enter your team email..."
                ng-model="email"
              />
            </div>

            <div class="field">
              <button class="ui fluid red button" ng-click="addTeamates()">
                Add Teamates
              </button>
            </div>
          </div>
          <br />
          <div class="field" ng-if="user.teamCode===user.teamAdmin">
            <p><strong>Please proceed to Concept Note Submission</strong></p>
            <button class="ui fluid purple button" ui-sref="app.concept_note">
              Next Step
            </button>
          </div>
        </div>
      </div>
      <div class="ui error message" ng-show="error">{{error}}</div>
    </div>
  </div>
</div>
