<div class="ui segment">
    <div class="ui stackable one column grid">
        <div class="column">
            <div class="ui pink segment">
                <div class="ui form">
                    <div class="ui header">
                        Create Sponsor Account
                    </div>
                    <div class="ui form input">
                        <input type="text" size="50"
                               placeholder="sponsor@example.com"
                               ng-model="email">
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui field">
                        <div class="ui pink button"
                             ng-click="createSponsor(email)">
                            Add Sponsor
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable one column grid">
        <div class="column">
            <div class="ui pink segment">
                <div class="ui stackable grid">
                    <div class="three wide column">
                        <div class="ui header">
                            Search
                        </div>
                        <div class="ui form">
                            <div class="field">
                                <div class="ui icon fluid input">
                                    <input type="text"
                                           placeholder="Search..."
                                           ng-model="queryText"
                                           ng-model-options="{debounce: 300}">
                                    <i class="search icon"></i>
                                </div>
                            </div>

                        </div>

                        <div class="ui divider"></div>

                        <button ng-repeat="page in pages"
                                ng-class="page == currentPage ? 'active pink' : ''"
                                ng-click="goToPage(page)"
                                class="ui icon basic page button">
                            {{page}}
                        </button>

                    </div>
                    <div id="table-container" class="thirteen wide column">
                        <div class="ui header" style="padding:20px">
                            Sponsors
                        </div>
                        <div class="ui long user modal">
                            <i class="close icon"></i>
                            <div class="header">
                                {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
                                <span ng-show="selectedUser.admin">
                                    (Admin)
                                </span>
                            </div>
                            <div class="content">

                                <div>
                                    <div class="ui header">
                                        Status:
                                        <div class="ui label">
                                            {{selectedUser.status.name.toUpperCase()}}
                                        </div>
                                    </div>
                                    <p>
                                        <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
                                    </p>
                                </div>

                                <div ng-repeat="section in selectedUser.sections">
                                    <div class="ui divider"></div>

                                    <h3> {{section.title}} </h3>

                                    <p ng-repeat="field in section.fields">
                                        <strong> {{field.name}}: </strong>

                                        <span ng-show="field.type === 'boolean'">
                                            <i class="red circle remove icon" ng-show="!field.value"></i>
                                            <i class="green circle check icon" ng-show="field.value"></i>
                                        </span>

                                        <span ng-if="field.type == null">
                                            {{field.value}}
                                        </span>
                                    </p>

                                </div>

                            </div>

                            <div class="actions">
                                <div class="ui positive right labeled icon button">
                                    Nothing
                                    <i class="checkmark icon"></i>
                                </div>
                            </div>
                        </div>
                        <table class="ui celled selectable compact sponsors table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>E-mail address</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectUser(sponsor)"
                                    ng-repeat="sponsor in sponsors"
                                    ng-class="rowClass(sponsor)">
                                    <td>
                                        <strong>
                                            {{sponsor.profile.name}}
                                            &nbsp;

                                        </strong>
                                    </td>
                                    <td>{{sponsor.email}}</td>
                                    <td class="collapsing">
                                        <!-- Verified -->
                                        <i ng-if="user.verified"
                                           class="green check circle icon">
                                        </i>
                                        <i ng-if="!user.verified"
                                           class="red remove circle icon">
                                        </i>
                                    </td>

                                    <!-- Host -->

                                    <td class="right aligned collapsing">

                                        <button class="accept ui circular mini basic green icon button"
                                                ng-click="acceptUser($event, user, $index)">
                                            <i class="add user icon"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
