<div class="page">
  <div class="divided title">Concept Note Submission</div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui form">
        <!-- <div ng-show="!user.teamCode" style="text-align: center">
          <p>Please create or join a team to submit the concept note.</p>

          <div
            class="ui pink button"
            ng-show="!user.teamCode"
            ui-sref="app.team"
          >
            Create or join a team
          </div>
        </div> -->

        <fieldset ng-show="user.teamCode">
          <div class="divided title">Theme</div>

          <div class="field">
            <label>Select a Theme (required)</label>
            <select name="theme" ng-model="user.theme" ng-options="x for x in themes">
              
            </select>
            <p ng-if="!user.theme" style="color: red;">lease select theme</p>
          </div>
          <div class="field">
            <label>Select a Sub Theme (required)</label>
            <select name="subtheme" ng-model="user.subtheme" ng-options="x for x in subthemes[user.theme]">
              
            </select>
            <p ng-if="!user.subtheme" style="color: red;">Please select Sub Theme</p>
          </div>
          <!-- <div class="field">
            <button
              type="submit"
              class="fluid ui purple button"
              ng-click="submitForm()"
            >
              Save
            </button>
          </div> -->
          <!-- <br /> -->

          <div class="divided title">Concept Note</div>
          <div class="field">
            <label>
              Download the <a href="../../assets/Concept note templete.docx" target="_blank">Concept Note Template</a>
            </label>
            
          </div>
          <div class="field">
            <label> Please upload your concept note document </label>
            <input
              type="file"
              file-model="fileUpload"
              accept="application/pdf"
            />
          </div>

          <p>
            Submissions accepted from
            <strong>{{ conceptNoteStartDate }}</strong>
          </p>

          <div class="field">
            <button
              type="submit"
              class="fluid ui purple button"
              ng-click="submitConceptNote()"
            >
              Submit
            </button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
