<div class="page">
  <div class="divided title">
    Concept Note Submission
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Theme</div>

        <fieldset ng-disabled="">

          <div class="field">
            <label>Select a Theme (required)</label>
            <select
              name="gender"
              ng-model="user.profile.gender">
              <option value="">Theme</option>
              <option value="T">Restoring Public Transport Ridership</option>
              <option value="F">Achieving Sustainable Public Transport and Resilience</option>
              <option value="M">Equity in Mobility</option>
            </select>
          </div>

          <br/>

          <div class="divided title">Concept Note</div>

          <div class="field">
            <label> Please upload your concept note document </label>
            <input type="text"
                   name="conceptNoteURL"
                   placeholder="https://google.drive.com/..."
                   ng-model="">
          </div>

          <p><strong>We're working on a concept note template. This form will be enabled in a couple of days.</strong></p>


          <div class="field">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()"
                    disabled>
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
