<div id="home">
  <section id="hero">
    <div class="hero-content center">
      <div ng-class="{ 'fade-out': fadeOut }" class="hero-container">
        <!-- <div class="logo-header-container ui grid computer tablet only center">
          <div class="logo-header center">
            <img src="../assets/images/desktop-hack-v-logo.png" />
          </div>
        </div> -->
        <div class="hero-description-container">
          <span class="hero-description ui grid">February 15 - 17, 2019</span> 
        </div>
        <div class="hero-button-container">
            <a ui-sref="app.apply" class="btn" ng-if="regIsOpen">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              APPLY
            </a>
            <!--
              <a ui-sref="app.recruit" class="btn">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                  TEAM OPENINGS
              </a>
            -->
            <!--
              <a ui-sref="app.expo" class="btn">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                  LIVE
              </a>
            -->
            <!--
              <a ui-sref="app.apply" class="btn" ng-if="regIsOpen">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                  APPLY
              </a>
              <a class="btn btn--coming-soon" ng-if="!regIsOpen">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                  REGISTRATION CLOSED
              </a>
            -->
        </div>
      </div>
    </div>
    <div class="hero-border">
      <svg
        version="1.1"
        id="circle"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 380"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          fill="#e7e7e7"
          d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0"
          transform="translate(0 1)"
        ></path>
      </svg>
    </div>
  </section>

  <section id="info" class="center">
    <div id="info-content">
      <span class="headline"> <span class="bold">450</span> Hackers. </span>
      <span class="headline"> <span class="bold">36</span> Hours. </span>
      <span class="headline">
        <span class="bold">Unlimited</span> Potential.
      </span>
    </div>
  </section>

  <section id="faq" class="center">
    <div id="faq-content">
      <div class="title">FAQs</div>
      <div class="faq-list ui stackable two column grid">
        <div class="column">
          <div class="faq-card">
            <div class="faq-card-title">What is a hackathon?</div>
            <div class="faq-card-description">
              A hackathon is a place where the only thing limiting what you
              build is your own creativity - we'll provide the rest. Stay up for
              36 hours with the smartest people you'll ever meet, building the
              coolest things you have created, and chugging more of your
              favorite energy drink than you ever thought possible.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">Who can come?</div>
            <div class="faq-card-description">
              Any undergraduate or graduate students over the age of 18.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">What should I bring?</div>
            <div class="faq-card-description">
              Yourself, deodorant, an idea, a photo ID, your hacking setup, a
              change of clothes, toiletries, and optionally a sleeping bag
              (pillow and/or blanket). Note: There will be no showers at the
              event.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="faq-card">
            <div class="faq-card-title">
              Do I sign up as a team or individual?
            </div>
            <div class="faq-card-description">
              You will apply as an individual. We will be personally reviewing each application and accepting on an individual basis.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              I live far away. How do I get to the event?
            </div>
            <div class="faq-card-description">
              Transportation information will be available soon for non-UCI
              students.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">What should I create?</div>
            <div class="faq-card-description">
              You can build whatever you can dream of, whether that be a website
              with an amazing feature, a phone app, or a rad piece of hardware
              (Soldering is NOT allowed)! Our only rule is that all code must be
              written during the hackathon itself. Feel free to use open source
              libraries and APIs; companies attending may provide their own as
              well. Impress us!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="center">
    <div id="sponsors-content">
      <div class="title">Sponsors</div>
      <div id="sponsors-list" class="ui grid">
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <img src="../assets/images/sponsors/microsoft.png" />
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <img src="../assets/images/sponsors/sendgrid.png" />
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <img src="../assets/images/sponsors/thales.png" />
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <img src="../assets/images/sponsors/github.png" />
        </div>
        <div
        class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <img src="../assets/images/sponsors/ardent.png" />
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="center">
    <div id="footer-content">
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
