<div id="home" class="page">
  <div class="top row starfield-container">
    <div class="starfield">
      <div class="top-container">
        <div class="top-text">
          <p>Cornell University</p>
          <p>October 19 - 21, 2018</p>
        </div>
        <img src="/assets/images/BRHF18.png" class="top-img" />
        <div class="top-buttons">
          <a href="/register" class="button">Register</a>
          <a href="/login" class="button">Log In</a>
        </div>
      </div>
      <div class="space">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
      </div> 
    </div>   
  </div>
  <div class="about row">
    <div class="row-header">
      About
    </div>
    <div class="row-content">
      <div>
        Are there any leftovers in the kitchen? imagineer cross sabers, for due diligence win-win when does this sunset? . This proposal is a win-win situation which will cause a stellar paradigm shift, and produce a multi-fold increase in deliverables gain traction, so who's responsible for the ask for this request? put your feelers out shoot me an email for take five, punch the tree, and come back in here with a clear head. Accountable talk accountable talk. Accountable talk social currency but UX. This proposal is a win-win situation which will cause a stellar paradigm shift, and produce a multi-fold increase in deliverables after I ran into Helen at a restaurant, I realized she was just office pretty, nor streamline. Pipeline.
      </div>
      <div>
          Blue sky in this space. Open door policy hit the ground running or execute . T-shaped individual cross functional teams enable out of the box brainstorming and cross functional teams enable out of the box brainstorming but goalposts we need to touch base off-line before we fire the new ux experience bells and whistles, or show pony. In this space critical mass, and get buy-in. Not a hill to die on shoot me an email or horsehead offer, so draw a line in the sand, so personal development. After I ran into Helen at a restaurant, I realized she was just office pretty this vendor is incompetent obviously golden goose get six alpha pups in here for a focus group. We need to dialog around your choice of work attire staff engagement, so where the metal hits the meat or execute , yet i am dead inside so time vampire powerPointless. Cannibalize. Make sure to include in your wheelhouse. Pixel pushing.
      </div>
    </div>
  </div>
  <div class="faq row starfield-container">
    <div class="starfield">
      <div class="top-container">
        <div class="ui styled accordion">
          <div class="active title">
            Who is eligible to participate?
          </div>
          <div class="active content">
            <p>
              We are inviting all undergraduate and graduate students to participate in our hackathon. 
              You don't need any past experience. You don't even need to be a computer science major! 
              Our only requirement is that you are at least 18 years old and enrolled in an accredited 
              college or university.
            </p>
          </div>
          <div class="title">
            What will I need to bring?
          </div>
          <div class="content">
            <p>
              Bring your school ID for registration. You are also responsible for bringing any equipment 
              for building and demoing your hack: laptop, chargers, phones, etc. You may also want 
              to bring a sleeping bag, change of clothes, and toothbrush.
            </p>
          </div>
          <div class="title">
            Do I have to sign up with a team?
          </div>
          <div class="content">
            <p>
              You don't have to sign up with a team, but it's certainly more fun! We allow teams of 
              up to four people (they don't have to be from the same school), and while they can be 
              specified on the application, you won't officially create your team until the event. 
              If you don't have a team yet, we'll host a social before the hacking begins for you 
              to meet other amazing people.
            </p>
          </div>
          <div class="title">
            Are you providing food?
          </div>
          <div class="content">
            <p>
              Don't worry, there will be lots of delicious food and beverages at our event, complementary 
              to all participants. We'll have vegetarian options as well.
            </p>
          </div>
          <div class="title">
            Are hardware hacks allowed?
          </div>
          <div class="content">
            <p>
              We will be providing a dedicated hardware lab with sensors, microcontrollers, and basic
              components. Some of our sponsors are bringing hardware to loan, but we still suggest
              that you bring your own equipment if you know that you'll absolutely need it.
            </p>
          </div>
          <div class="title">
            What are the rules?
          </div>
          <div class="content">
            <p>
              We want BigRed//Hacks to be fun and fair for everyone. Your project should be started 
              from scratch and worked on only during the 36 hours, and you may only incorporate outside 
              resources (code, graphics, sound, etc) that are freely licensed and accessible to all 
              participants equally. Of course, maintain a positive, respectful attitude toward your 
              fellow hackers throughout the event.
            </p>
          </div>
          <div class="title">
            Why is there an application?
          </div>
          <div class="content">
            <p>
              We want to guarantee that students from a wide range of schools and experiences are given 
              an equal and fair chance to participate. Furthermore, we hope that the process will encourage 
              registrants to be committed to building something awesome. Even if you've never been to 
              a hackathon before, please apply!
            </p>
          </div>
          <div class="title">
            Have more questions?
          </div>
          <div class="content">
            <p>
              Send them to <a href="mailto:info@bigredhacks.com">info@bigredhacks.com</a>!
            </p>
          </div>
        </div>
      </div>
      <div class="space">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
      </div> 
    </div>   
  </div>
</div>
