<div id="home">
    <section id="hero">
        <div class="hero-content center">
            <div ng-class="{ 'fade-out': fadeOut }">
                <div class="logo-header-container ui grid mobile only tablet only">
                    <div class="logo-header logo-cog">
                        <img src="../assets/images/logo-cog.svg">
                    </div>
                    <div class="logo-header">
                        <img src="../assets/images/logo-anteater.svg">
                    </div>
                </div>
                <span class="hero-title">HackUCI 2019</span>
                <div class="hero-description-container">
                    <span class="hero-description">COMING SOON</span>
                </div>
                <div class="hero-button-container">
                    <a href="http://eepurl.com/duUhsD" target="_blank" class="btn">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        STAY NOTIFIED
                    </a>
                    <!-- <a ui-sref="app.recruit" class="btn">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        TEAM OPENINGS
                    </a>-->
                    <!-- <a ui-sref="app.expo" class="btn">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        LIVE
                    </a> -->
                    <!-- <a ui-sref="app.apply" class="btn" ng-if="regIsOpen">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        APPLY
                    </a>
                    <a class="btn btn--coming-soon" ng-if="!regIsOpen">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        REGISTRATION CLOSED
                    </a> -->
                </div>
            </div>
        </div>
        <div class="hero-border">
            <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
            <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
            </svg>
        </div>
    </section>

    <section id="info" class="center">
        <div id="info-content">
            <span class="headline">
                <span class="bold">400</span> Hackers.
            </span>
            <span class="headline">
                <span class="bold">36</span> Hours.
            </span>
            <span class="headline">
                <span class="bold">Unlimited</span> Potential.
            </span>
        </div>
    </section>

    <section id="faq" class="center">
        <div id="faq-content">
            <div class="title">
                FAQs
            </div>
            <div class="faq-list ui stackable two column grid">
                <div class="column">
                    <div class="faq-card">
                        <div class="faq-card-title">
                            What is a hackathon?
                        </div>
                        <div class="faq-card-description">
                            A hackathon is a place where the only thing limiting what you build is your own creativity - we'll provide the rest. Stay up for 36 hours with the smartest people you'll ever meet, building the coolest things you have created, and chugging more of your favorite energy drink than you ever thought possible.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            Who can come?
                        </div>
                        <div class="faq-card-description">
                            Any undergraduate or graduate students over the age of 18.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            What should I bring?
                        </div>
                        <div class="faq-card-description">
                            Yourself, deodorant, an idea, a photo ID, your hacking setup, a change of clothes, toiletries, and optionally a sleeping bag (pillow and/or blanket). Note: There will be no showers at the event.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            What should I create?
                        </div>
                        <div class="faq-card-description">
                            You can build whatever you can dream of, whether that be a website with an amazing feature, a phone app, or a rad piece of hardware (Soldering is NOT allowed)! Our only rule is that all code must be written during the hackathon itself. Feel free to use open source libraries and APIs; companies attending may provide their own as well. Impress us!
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="faq-card">
                        <div class="faq-card-title">
                            Do I sign up as a team or individual?
                        </div>
                        <div class="faq-card-description">
                            You may sign up as a team or as an individual. Note that all team members must still submit an application for the team request to be honored. You can have a team of up to five members. If you're looking for team members, we'll help you connect to talented participants before hacking begins.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            I live far away. How do I get to the event?
                        </div>
                        <div class="faq-card-description">
                            Transportation information will be available soon for non-UCI students.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            How will hacks be presented?
                        </div>
                        <div class="faq-card-description">
                            On Sunday at 12:30pm, all hackers will have the option to demo their hacks to sponsors and their fellow hackers in an expo event.
                        </div>
                    </div>
                    <div class="faq-card">
                        <div class="faq-card-title">
                            When does the event end?
                        </div>
                        <div class="faq-card-description">
                            The closing ceremony will end at 4pm on Sunday.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="center">
        <div id="sponsors-content">
            <div class="title">
                Sponsors
            </div>
            <div id="sponsors-list" class="ui grid">
                <a href="https://www.kareo.com" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/kareo.png">
                </a>
                <a href="http://www.ics.uci.edu/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/ucibren.png">
                </a>
                <a href="http://www.studentcenter.uci.edu/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/ucistudentcenter.png">
                </a>
                <a href="http://www.parivedasolutions.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/pariveda.png">
                </a>
                <a href="http://www.sendgrid.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/sendgrid.png">
                </a>
                <a href="http://www.gigabyte.us/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/gigabyte.png">
                </a>
                <a href="https://us.aorus.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/aorus.png">
                </a>
                <a href="http://www.templarbit.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/templarbit.png">
                </a>
                <a href="http://www.toshiba.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/toshiba.png">
                </a>
                <a href="http://get.tech/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/tech.png">
                </a>
                <a href="http://www.85cbakerycafe.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/85c.png">
                </a>
                <a href="https://www.soylent.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/soylent.png">
                </a>
                <a href="http://www.drinkbai.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/bai.png">
                </a>
                <a href="http://www.facebook.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/facebook.png">
                </a>
                <a href="http://www.google.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/google.png">
                </a>
                <a href="http://www.github.com/" class="sixteen wide phone eight wide tablet four wide computer column" target="_blank">
                    <img src="../assets/images/sponsors/github.png">
                </a>
            </div>
        </div>
    </section>

    <section id="footer" class="center">
        <div id="footer-content">
            <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </section>
</div>