#admin {
  .label {
    margin-bottom: 6px;
  }

  .page.button {
    margin-bottom: 6px;
  }

  #table-container {
    overflow-x: auto;
  }

  table.users {

    tr {
      cursor: pointer;

      &.admin {
        background: lighten($brand-secondary, 50%) !important;
        &:hover {
          background: lighten($brand-secondary, 45%) !important;
        }
      }
    }

  }

  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  #major .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  .resumeInput {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: normal !important;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .subtext {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  #review {
    padding-right: 302.5px;
  }

  #reviewPanel {
    padding: 1rem 1.5rem 0 0
  }
}
