#admin {
  .label {
    margin-bottom: 6px;
  }

  .page.button {
    margin-bottom: 6px;
  }



  #table-container {
    overflow-x: auto;
  }

  table.users {

    tr {
      cursor: pointer;

      &.admin {
        background: lighten($brand-secondary, 50%) !important;
        &:hover {
          background: lighten($brand-secondary, 45%) !important;
        }
      }
    }

  }

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /*positioning*/
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

}