#apply {
	#school .title {
		text-align: left;
		text-transform: none;
		letter-spacing: 0;
	}
	
	.required {
		color: red;
		font-weight: 500;
	}

	.error-red-color {
		color: red;
	}

	.essay-feedback-container {
		display: flex;
		flex-direction: row;
	}

	.essay-character-count {
		display: flex;
		justify-content: flex-end;
		flex: 1 0 auto;
	}

	.ui.checkbox {
		backface-visibility: unset;
	}
}