#application {
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  #major .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }

  .characterCount {
    font-size: 12px;
  }

  .resumeInput {
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: normal !important;
    margin-right: 5px;
  }

  .asterisk {
    font-size: 12px;
  }

  .btn {
    display: inline-block;
    width: 49%;
  }

  .btn #update {
    background-color: $brand-secondary;
    color: white;
  }

  .btn #submit {
    background-color: $brand-primary;
    color: white;
  }
}