#attendees {
    table.users {

        tr {
          cursor: pointer;
    
          &.mentor {
            background: lighten($brand-secondary, 50%) !important;
            &:hover {
              background: lighten($brand-secondary, 45%) !important;
            }
          }
        }
    
      }   
}