/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #bb0000;
$secondary: #000000;
$tertiary: #4c82cc;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://raw.githubusercontent.com/ElectronicsOSU/MakeOHIO-2018/master/assets/img/IMG_3309.JPG');
