/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #3d99be;
$secondary: #9848d5;
$tertiary: #02ccba;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('../assets/images/bg.jpeg');
