/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

@primary: #FF556A;
@secondary: #2C0735;
@tertiary: #ff8865;

.ui.purple.button {
    background-color: @tertiary !important;
}
.ui.pink.button {
    background-color: #77174E !important;
}

/** ASSET URLS
 * login-bg: image for login splash page 
 */

// @login-bg: url('/assets/images/login.jpg');
