/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #EF5144;
$secondary: #FEA645;
$tertiary: #462470;

/** ASSET URLS
 * login-bg: image for login splash page
 */

$login-bg-image: url('https://www.transparenttextures.com/patterns/green-dust-and-scratches.png');
