/**
 * Primary (default pink): sidebar color, admitted dashboard status
 * Secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * Tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #e76482;
$secondary: #473899;
$tertiary: #4c82cc;
