// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.
$primary: #111;
$secondary: #ec4150;
$tertiary: #1bcffc;
$login-bg: linear-gradient(rgba(236,65,80,0.5), rgba(0,0,0,0.6), rgba(27,207,252,0.5)), url('../assets/images/login-background.jpg');
