$vthacks-yellow: rgba(255,203,2,1);

#dashboard {
  .status-title {
    color: $vthacks-yellow;
  }

  .status {
    text-align: center;
    p {
      text-align: left;
    }
    .button {
      margin-top: 12px;
    }
    .header {
      font-size: 1.2em;
    }
    .state {
      padding: 12px 24px;
      margin: 0 1em;
      color: white;
      font-size: 1.3em;
      text-transform: uppercase;

      &.unverified {
        background: $status-unverified-color;
      }

      &.incomplete {
        background: $status-incomplete-color;
        color: black;
      }

      &.submitted {
        background: $status-submitted-color;
      }

      &.waitlist {
        background: $status-waitlist-color;
      }

      &.admitted {
        background: $status-admitted-color;
      }

      &.confirmed {
        background: $status-confirmed-color;
      }

      &.checked.in {
        background: $status-checkedin-color;
      }

      &.declined {
        background: $status-declined-color;
      }
    }

    .progressBarWrapper {
      width: 100%;

	  .progressBar {

	  	height: 100px;
	  	padding: 20px 0;
	  	color: white;

	      li {
	        list-style-type: none;
	        float: left;
	        width: 25%;
	        position: relative;
	        text-align: center;
	      }

	      li:before {
	        content: " ";
	        line-height: 30px;
	        border-radius: 50%;
	        width: 30px;
	        height: 30px;
	        display: block;
	        text-align: center;
	        margin: 0 auto 10px;
	        border: 2px white solid;
	      }

	      li:after {
	        content: "";
	        position: absolute;
	        width: 100%;
	        height: 4px;
	        background-color: #ddd;
	        top: 15px;
	        left: -50%;
	        z-index: -1;
	      }

	      li:first-child:after {
	        content: none;
	      }

	      li.active:before {
	          background-size: contain;
	          background-image: url("/assets/images/check.png");
	          border: none;
	      }
	    }
    }
  }

  .segment {
    padding: 36px 36px 12px 36px;
  }

  .description {
    margin-bottom: 24px;
    .markdown {
      text-align: left;
      margin-bottom: 24px;
    }
  }
}