#dashboard {
  background-image: linear-gradient(to right, #2a2a2a, #191919);
  height: 100%;
  
  .gradiant-text {
    padding: 1%;
    background: linear-gradient(
      to right,
      #7ce0ff 0%,
      #80beef 30%,
      #83a8db 40%,
      #bb8ce5 60%,
      #ce83d1 90%,
      #e2a1e3 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .status {
    background: inherit;
    color: white;
    text-align: center;
    border: 1px solid #b8bbef;

    p {
      text-align: left;
      margin-bottom: 0;
    }
    .button {
      margin-top: 16px;
      border-radius: 5px;
      padding: 0.8em 1.5em;
    }
    .header {
      font-size: 1.2em;
    }
    .state {
      text-align: center;
      padding: 12px 24px;
      margin-bottom: 1em;
      color: black;
      font-size: 1.3em;
      text-transform: uppercase;
      border-radius: 5px;
      background: white;
    }
  }

  .segment {
    padding: 36px 36px 12px 36px;
    border-radius: 20px;

    strong {
      font-weight: 500;
    }
  }

  .description {
    margin: 16px 0;
    .markdown {
      text-align: center;
      margin-bottom: 24px;
      p {
        text-align: center;
      }
    }
  }

  #closed-and-incomplete {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
