#discord {
    .discord-text {
        text-align: center;
    }

    .paste {
        text-align: center;
        background-color: pink;
        padding: 10px;
        word-wrap: break-word;
    }
}