// https://www.youtube.com/watch?v=-irWoRkJF_g
// Not a god person but...
// "I think it'd piss God off if anyone ever walked by the color purple in a field and not notice."
// "He said: 'Look what I made for you.'"

@purple: #2C0735;
@star-red: #FE1736;

#home.page {
    display: flex;
    flex-direction: column;
    padding: 0;
}

div.row {
    color: #3C4858;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 115px 15px;
    position: relative;
    width: 1000px;

    @media @small {
        width: 100%;
    }

    &#top {
        padding: 0;
    }

    &:nth-child(odd) {
        background-color: @purple;

        .row-header {
            color: white;
        }
    }
    &:nth-child(even) {
        background-color: white;

        .row-header {
            color: @purple;
        }
    }
    .row-content {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;

        div {
            width: 50%;

            &:first-child {
                padding-left: 0;
                padding-right: 5%;
            }
            &:last-child {
                padding-left: 5%;
                padding-right: 0;
            }
            
            @media @small {
                &:first-child, &:last-child {
                    padding: 20px 0 0;
                    width: 70%;
                }
            }
        }
    }
    .row-header {
        font-family: 'Poppins', Arial, sans-serif;
        font-size: 30px;
        padding: 30px 0;
    }
}

// Stars source: https://codepen.io/keithclark/pen/zqcEd
.starfield-container.row {
    height: 800px;
    width: 100%;

    &#faq, &#faq .starfield {
        height: auto;
        position: relative;
    }

    .starfield {
        align-items: center;
        background-color: @purple;
        display: flex;
        height: 800px;
        justify-content: center;
        left: 0; 
        position: absolute; 
        top: 0; 
        width: 100%; 
        z-index: 1;
    
        .top-container {
            color: white;
            display: flex;
            font-family: "Roboto", Arial, sans-serif;
            flex-direction: column;
            text-align: center;
    
            .top-buttons {
                .button {
                    border: 1px solid white;
                    border-radius: 2px;
                    color: white;
                    display: inline-block;
                    font-size: 20px;
                    letter-spacing: 2px;
                    margin: 0 20px;
                    min-width: 150px;
                    padding: 5px 20px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.3s;
                    width: 250px;

                    &.login {
                        background-color:  @purple;
                        color: #FFFFFF;
                    }
                    &.register {
                        background-color: white;
                        color:  @purple;
                    }
                }
            }
    
            .top-img {
                margin: auto;
                display: block;
                margin: 30px auto;
                max-width: 800px;
                width: 100%;
            }
    
            .top-text {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 2px;

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    
        .space, .stars {
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    
        .stars {
            background-image: 
                radial-gradient(2px 2px at 20px 30px, @star-red, rgba(0,0,0,0)),
                radial-gradient(2px 2px at 40px 70px, @star-red, rgba(0,0,0,0)),
                radial-gradient(2px 2px at 50px 160px, @star-red, rgba(0,0,0,0)),
                radial-gradient(2px 2px at 90px 40px, @star-red, rgba(0,0,0,0)),
                radial-gradient(2px 2px at 130px 80px, @star-red, rgba(0,0,0,0)),
                radial-gradient(2px 2px at 160px 120px, @star-red, rgba(0,0,0,0));
            background-repeat: repeat;
            background-size: 200px 200px;
            animation: zoom 5s infinite;
            opacity: 0;
        }
    
        .stars:nth-child(1) {
            background-position: 50% 50%;
            animation-delay: 0s;
        }
        .stars:nth-child(2) {
            background-position: 20% 60%;
            animation-delay: 1s;
        }
        .stars:nth-child(3) {
            background-position: -20% -30%;
            animation-delay: 2s;
        }
        .stars:nth-child(4) {
            background-position: 40% -80%;
            animation-delay: 3s;
        }
        .stars:nth-child(5) {
            background-position: -20% 30%;
            animation-delay: 4s;
        }
    
        @keyframes zoom {
            0% {
                opacity: 0;
                transform: scale(0.5);
                animation-timing-function: ease-in;
            } 
            85% {
                opacity: 1;
                transform: scale(2.8);
                animation-timing-function: linear;
            }
            100% {
                opacity: 0;
                transform: scale(3.5);
            }
        }
    }
}

.row#faq {
    font-family: "Roboto", Arial, sans-serif;
    .accordion {
        margin: auto;
        width: 70%;

        .question {
            background-color: white;
            border-radius: 3px;

            .content, .title {
                color: @purple;
                letter-spacing: unset;
                text-align: left;
                text-transform: unset;
            }

            .content {
                padding: 15px;
            }
    
            .title {
                display: flex;
                font-family: "Roboto", Arial, sans-serif;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: space-between;
    
                i.icon::before {
                    color: #FE1736
                }
    
                &.active {
                    i.icon::before {
                        content: "\f056";
                    }
                }
            }
        }
        .question + .question {
            margin-top: 15px;
        }
    }

    .row-header {
        text-align: left;
    }

    .starfield {
        display: block;
    }
}

.row#sponsors {
    .row-content {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &.sponsor-ultra {
            a img {
                max-height: 500px;
                max-width: 500px;
            }
        }

        &.sponsor-supreme {
            a img {
                max-height: 400px;
                max-width: 400px;
            }
        }

        &.sponsor-mega {
            a img {
                max-height: 300px;
                max-width: 300px;
            }
        }

        &.sponsor-supporter {
            a img {
                max-height: 150px;
                max-width: 150px;
            }
        }
        &.sponsor-assistant {
            a img {
                max-height: 125px;
                max-width: 125px;
            }
        }
        @media @small {
            a img {
                display: block;
                margin: auto;
            }
            &.sponsor-ultra {
                a img {
                    max-width: 100%;
                }
            }
            &.sponsor-mega {
                a img {
                    max-width: 90%;
                }
            }
            &.sponsor-supporter {
                a img {
                    max-width: 80%;
                }
            }
            &.sponsor-assistant {
                a img {
                    max-width: 70%;
                }
            }
        }
    }
    
    .row-content + .row-content {
        padding-top: 20px;
    }

    .sponsor-cta {
        font-size: 25px;
        margin-top: 50px;
        text-align: center;
    }
}

#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: 50px;
    top: 0;
    width: 10%;
    z-index: 10000;

    @media @small {
        display: none;
    }
}
