#particles-js{
  height: 60%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#login {
  height: 100%;
  width: 100%;

  > img.background {
    overflow: hidden;
    position: absolute;
    object-fit: cover;

    &.b-lazy{
      /* This will harden up the edges on the blur*/
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      margin: -16px;
      -webkit-filter: blur(10px);
    }
    &.b-lazy.b-loaded{
      height: 100%;
      width: calc(100% + 10px); // centers image
      margin: 0;
      /* when loaded, harden the image */
      -webkit-filter: none;
      transition: 0.5s -webkit-filter linear;
    }
  }

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .ui {
        background: #111;
        .form .field > label{
          color: white;
        }
        .small {
          font-weight: 500;
        }
      }

      .logo {
        max-width: 100px;
        margin: .5rem auto 1rem auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .button {
        color: white;
        &.login {
          background: $login-color;
        }
        &.register {
          background: $register-color
        }
      }

      .forgot {
        font-weight: 400;
        text-align: center;
      }

    }
  }

}
