#login {
  height: calc(100% + 49px);
  width: 100%;
  background-image: url('../assets/images/triangles.png'), linear-gradient(to right, #2a2a2a, #191919);
  background-size: cover;
  background-position: center center;

  &::before {
    content: '';
    
    opacity: 0.8;
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
  }

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo-header-container {
        height: 125px;
        margin-top: 0;
        margin-bottom: 5%;
        animation: fadein .5s both;
        animation-delay: .15s;
      }

      .logo-header {
        height: 125px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        transition: all .2s ease;
      }

      .logo-cog {
        animation: spin 12s linear infinite;
      }

      .logo-header>img {
        height: 100%;
      }

      .ui.small.error.message {
        box-shadow: none;
        margin-top: 0;
      }

      .segment {
        border-radius: 15px;
        padding: 1em 1.25em;
        border: none;
        margin: 0;
        box-shadow: 0 2px 16px rgba(24,51,59,.35);
        background-color: rgba(255,255,255,0.85);
        animation: fadein .5s both;
        animation-delay: .2s;
      }

      .ui.login-password .field:nth-child(1) {
        animation: fadein .5s both;
        animation-delay: .3s;
      }

      .ui.login-password .field:nth-child(2) {
        animation: fadein .5s both;
        animation-delay: .35s;
      }

      .ui.login-password .field:nth-child(3) {
        animation: fadein .5s both;
        animation-delay: .4s;
      }

      .ui:not(.login-password) .field {
        animation: fadein .5s both;
        animation-delay: .45s;
      }

      .ui.form .field>label {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: 0.07em;
      }

      .ui.form input[type=email]:focus, .ui.form input[type=password]:focus {
        border-color: rgba(34, 36, 38, 0.15);
        box-shadow: 0 2px 16px rgba(24,51,59,.1);
      }

      .button {
        color: white;
        font-weight: 300;
        font-size: 0.95em;
        letter-spacing: 0.07em;
        border-radius: 25px;
        box-shadow: 0 2px 16px rgba(24,51,59,.2);
          transition: background .2s ease;

        &.login {
          background: rgba(61,153,190,0.95);
        }

        &.login:hover {
          background: rgba(61,153,190,1);
        }

        &.register {
          background: rgba(2,204,186,0.95);
        }

        &.register:hover {
          background: rgba(2,204,186,1);
        }
      }

      .forgot {
        text-align: center;
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: 0.07em;
        animation: fadein .5s both;
        animation-delay: .5s;
      }

    }
  }

}
