/* Home */
#sponsor {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 0.85em;
  line-height: 1.42857143;

  /* Global */
  button,
  .btn {
    color: white;
    font-weight: 300;
    border: 1px solid white;
    padding: 1.75% 4%;
    margin: 0 5px;
    border-radius: 4px;
    letter-spacing: 0.12em;
    transition: all 0.3s ease;
  }

  button:hover,
  .btn:hover {
    text-decoration: none;
    color: #6b8dd6;
    border: 1px solid white;
  }

  button:focus,
  .btn:focus {
    outline: none;
  }

  .title {
    font-size: 2em;
    font-weight: 700;
  }

  /* Hero */
  #hero {
    background-image: linear-gradient(to right, #2a2a2a, #191919);
    background-image: url("../assets/images/hero-sponsor.png"),
      linear-gradient(to right, #2a2a2a, #191919);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100% + 49px);

    .hero-container {
      min-width: 50%;
    }
  }

  #hero::before {
    content: "";
    background-image: linear-gradient(to right, #2a2a2a, #191919);
    opacity: 1;
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    animation: fadeout 0.8s ease-in 0.5s forwards;
  }

  .hero-content {
    height: 100%;
    position: relative;
    color: white;
    z-index: 3;

    > div {
      margin-top: -50px;
    }
  }

  .logo-header-container {
    height: 125px;
    margin-top: 0;
    margin-bottom: 5%;
    animation: fadein 0.5s both;
    animation-delay: 0.15s;
  }

  .logo-header {
    height: 125px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease;
  }

  .logo-cog {
    animation: spin 12s linear infinite;
  }

  .logo-header > img {
    height: 100%;
  }

  .hero-title-container {
    text-align: center;
    margin-top: 45vh;
  }

  .hero-title {
    font-size: 1.25em;
    font-weight: lighter;
    text-align: center;
    display: inline-block;
    animation: fadein 0.5s both;
    animation-delay: 0.3s;
  }

  .btn {
    border-radius: 50px;
    border: solid;
    border-color: #9b92e3;
    white-space: nowrap;
    margin-left: -5%;
  }

  .btn:hover {
    color: #e7e7e7;
    border: solid;
    border-color: #a49af1;
  }

  .hero-description {
    font-weight: 300;
    font-size: 1.42em;
    letter-spacing: 0.045em;
    padding-top: 1.5%;
    text-align: center;
    display: block;
    animation: fadein 0.5s both;
    animation-delay: 0.45s;
  }

  .hero-border {
    width: 100%;
    height: 225px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .hero-border svg {
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    vertical-align: bottom;
  }

  /* Info */
  #info {
    background: #e7e7e7;
  }

  #info-content {
    width: 100%;
    padding: 3% 0;
    color: #2c3e50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #info-content > .title {
    margin-top: 0.5%;
    padding-top: 0;
  }

  .recap-statistics {
    text-align: center;
  }

  .recap-statistics > div {
    padding-left: 0;
    padding-right: 0;
    width: 16%;
  }

  .recap-statistics > div > strong {
    display: block;
    font-size: 2.5em;
    font-weight: 500;
    color: #3e4389;
  }

  .recap-statistics > div > span {
    font-size: 1.2em;
    color: #3e4389;
  }

  /* Winners */
  #winners {
    display: flex;
    flex-direction: row;
    align-content: center;
    background: #9b92e3;
    color: white;
    padding: 2% 0 3% 0;

    #recap {
      flex: 2;
      padding: 0 3%;
    }

    .recap-description {
      font-size: 1rem;
      margin-bottom: 5%;
    }
    #winners-content {
      flex: 3;
      padding: 0 3%;
    }
  }

  #winners-content > .title {
    text-align: center;
  }

  .winner-card {
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }

  .winners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .winners-list > div {
    padding: 3.5% 0;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
  }

  .prize-category-icon {
    color: white;
  }

  .winners-list > div:hover {
    transform: scale(1.08);
  }

  .card-award-icon > i {
    font-size: 2.5em;
  }

  .card-award-icon > img {
    width: 3.5em;
  }

  .card-award-title {
    font-weight: 300;
    font-size: 0.5em;
    letter-spacing: 0.07em;
    padding-top: 4%;
    padding-bottom: 2%;
    color: white;
  }

  .card-name {
    font-weight: 500;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.025em;
  }

  .winners-list > div > a:hover {
    text-decoration: none;
  }

  hr {
    width: 90%;
    border-top: 1px solid #eee;
  }

  /* Sponsors */
  #sponsors {
    padding: 3% 5%;
    background: #e7e7e7;
  }

  #sponsors-content {
    width: 100%;
  }

  #sponsors-content > .title {
    text-align: center;
    color: #3e4389;
  }

  #sponsors-list {
    margin-top: 1%;
  }

  #sponsors-list > div {
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 1%;
    opacity: 0.6;
    width: 16.66666667% !important;
    padding-top: 0;
    padding-bottom: 0;
    transition: opacity 0.2s ease;
  }

  #sponsors-list > div:hover {
    opacity: 1;
    transform: scale(1.08);
  }

  #sponsors-list > div > img {
    width: 100%;
  }

  /* Sponsorship */
  #sponsorship {
    padding: 4% 5% 6% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #83a8db;
    color: white;
  }

  #sponsorship-packet {
    text-decoration: underline;
    font-weight: bold;
  }

  #sponsorship > .title {
    text-align: center;
    line-height: 1em;
  }

  .sponsorship-content-title {
    font-size: 1.7em;
    font-weight: 500;
    padding: 2% 0 0.25% 0;
  }

  .sponsorship-content-description + .sponsorship-content-title {
    padding: 2.5% 0 0.25% 0;
  }

  .sponsorship-content-title > i {
    padding-right: 0.25%;
  }

  .sponsorship-content-description {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.5;
  }

  /* Footer */
  #footer {
    background: #e7e7e7;
    color: #3e4389;
    text-align: center;
    padding: 3% 0;
  }

  #footer-content {
    width: 100%;
    color: #3e4389;
    font-size: 1.3rem;
    font-weight: normal;
  }

  /* Mobile */
  @media (max-width: 767px) {
    #hero {
      background-image: linear-gradient(to right, #2a2a2a, #191919);

      .hero-container {
        min-width: 100%;
      }
    }

    .hero-title-container {
      margin-top: 0;
    }

    .title {
      margin-bottom: 5%;
    }

    .hero-border {
      height: 100px;
    }

    .hero-title {
      display: block;
      font-size: 1em;
    }

    .hero-description {
      font-size: 1.2em;
      margin: 2% 10%;
    }

    .hero-button-container {
      .btn {
        padding: 5% 10%;
      }
    }

    #info,
    #winners {
      padding: 12.5% 0;
    }

    #info-content > .title {
      margin-bottom: 2%;
      padding-bottom: 0;
    }

    #sponsors {
      padding: 12.5% 0 5% 0;
    }

    #sponsors-list {
      margin: 5%;
    }

    #sponsors-list > div {
      height: 70px;
      width: 50% !important;
      text-align: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    #sponsorship {
      padding: 5% 5% 10% 5%;
    }

    .sponsorship-content-description + .sponsorship-content-title {
      padding: 5% 0 0.5% 0;
    }

    #footer {
      padding: 8% 0;
    }

    #footer-content {
      padding: 2.5%;
    }

    #footer-content > .title {
      font-size: 3.3em;
      line-height: 1.1em;
      margin-bottom: 0;
    }

    #footer-content > .details {
      font-size: 1.25em;
      line-height: 2.5em;
      letter-spacing: 0.1em;
      padding-bottom: 2%;
    }

    #footer-content > button {
      padding: 2.5% 5%;
    }

    #recap > .title {
      text-align: center;
    }

    #winners {
      flex-direction: column;
      align-items: center;
    }

    .winners-list > div {
      width: 50%;
    }

    .recap-statistics > div {
      width: 50%;
    }

    .btn {
      margin: 0 3%;
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 12px;

    .recap-statistics > div {
      width: 33.33333333%;
    }

    #sponsors-list > div {
      height: 40px;
      text-align: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .btn {
      margin-left: 0;
    }
  }
}

/* Bootstrap override */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

#contactModal {
  /* Placeholder override */
  ::-webkit-input-placeholder {
    color: #34495e;
    opacity: 0.35;
  }
  ::-moz-placeholder {
    color: #34495e;
    opacity: 0.35;
  }
  :-ms-input-placeholder {
    color: #34495e;
    opacity: 0.35;
  }
  :-moz-placeholder {
    color: #34495e;
    opacity: 0.35;
  }
}

/* Modal */
#contactModal .header {
  display: flex;
}

#contactModal .close-button {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: 1.2em;
  z-index: 999;
}

#contactModal .modal-header .close {
  margin-top: 0;
}

#contactModal .content {
  margin: 0;

  form {
    padding: 0;
  }
}

#contactModal .content span {
  font-weight: 500;
  display: block;
}

#contactModal input {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #34495e;
  margin-bottom: 5%;
  font-weight: 300;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.015em;
  transition: all 0.2s ease;
}

#contactModal input:focus {
  outline: none;
  border-bottom-color: #2c3e50;
}

#contactModal .benefits-label {
  margin-bottom: 0.75%;
}

#contactModal input[type="checkbox"] {
  font-size: inherit;
  width: inherit;
}

#contactModal .checkbox-inline {
  margin: 0.5% 10px 0.5% 0;
}

#contactModal .comments-label {
  margin-top: 1.75%;
}

.col-md-4 {
  width: 33.33333333% !important;
}

#contactModal input[type="textarea"] {
  margin-bottom: 3%;
}

#contactModal input[type="submit"] {
  background-color: white;
  border: 1px solid #2c3e50;
  width: inherit;
  border-radius: 5px;
  padding: 1% 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  font-weight: 400;
  font-size: inherit;
  transition: all 0.2s ease;
}

#contactModal input[type="submit"]:hover {
  background-color: #2c3e50;
  color: white;
}

@media (max-width: 767px) {
  #contactModal input[type="text"],
  #contactModal input[type="email"],
  #contactModal input[type="number"],
  #contactModal input[type="textarea"] {
    border-radius: 0;
    padding-left: 0;
    margin-bottom: 2.5%;
  }

  #contactModal .modal-content {
    border-radius: 0;
  }

  .modal-body .col-left,
  .modal-body .col-right {
    padding: 0;
  }

  #contactModal .comments-label {
    margin-top: 2.5%;
  }

  #contactModal input[type="submit"] {
    padding: 3% 6%;
  }
}
