#team {
  text-align: center;
  .title {
    padding-top: 24px;
  }
  p {
    text-align: center;
    margin: 12px;
  }
  .subheader {
    word-wrap: break-word;
  }

  .buttonPrimary{
    background-color: $brand-primary;
    color: white;
  }

  .buttonSecondary{
    background-color: $brand-secondary;
    color: white
  }

  .buttonTertiary{
    background-color: $brand-tertiary;
    color: white;
  }
}