@import 'branding';
@import 'custom';
$font-body: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

// Login screen variables
$login-bg-color: $secondary;
$login-color: $primary;
$register-color: $tertiary;

$status-unverified-color: rgb(82, 82, 82);
$status-incomplete-color: #F5F5F5;
$status-submitted-color: lighten($secondary, 20%);
$status-admitted-color: $primary;
$status-confirmed-color: $secondary;
$status-checkedin-color: $secondary;
$status-waitlist-color: $tertiary;
$status-declined-color: $tertiary;
$status-rejected-color: red; // Not used

// Sidebar variables
$sidebar-color: $primary;
$sidebar-width: 265px;
$sidebar-transition-time: .5s;
$sidebar-tab-size: 55px;

// Page variables
$page-header-color: $secondary;

$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-tertiary: $tertiary;

@mixin transform($transforms) {
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@import 'login';
@import 'base';
@import 'sidebar';
@import 'page';
@import 'dashboard';
@import 'application';
@import 'verify';
@import 'team';
@import 'admin';

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1.02em;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;

  > .container {
    width: 100%;
    height: 100%;
  }
}

/**
 * SweetAlert Overrides
 */
.sweet-alert {
  font-family: $font-body;
}

/**
 * Semantic-UI Overrides for squareishness
 */
.ui.segment {
  border-radius: 0;
  box-shadow: none;
}
input {
  border-radius: 0 !important;
}
.ui.button {
  border-radius: 0;
  &.primary {
    background: $primary;
    &:hover {
      background: lighten($primary, 3%);
    }
    &:active {
      background: darken($primary, 3%);
    }
  }
  &.secondary {
    background: $secondary;
    &:hover {
      background: lighten($secondary, 3%);
    }
    &:active {
      background: darken($secondary, 3%);
    }
    &:focus {
      background: $secondary;
    }
  }
}

.ui.form select {
  height: 2.5em;
}

fieldset {
  padding: 0;
  border: none;
}

.ui.search >.results {
  width: 100%;
}
// @import 'animation';
