<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <!-- 
    Needs:
      Shirt Size (required)
      Dietary Restrictions
      Hardware Needs
      Confirm wavier
      Notes
      Phone Number
      Twitter
      Website
      Might Sign Wavier
  -->
  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We need this in case we need to get in contact with you!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(123) - 555 - 1234"
                   required>
          </div>

          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>

          <div class="field">
            <label> Shirt Size (required) </label>
            <p>
              Free swag!
            </p>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Shirt Size</option>
              <option value="XS">X-Small</option>
              <option value="S">Small</option>
              <option value="M">Medium</option>
              <option value="L">Large</option>
              <option value="XL">X-Large</option>
              <option value="XXL">XX-Large</option>
            </select>
          </div>

          <div class="field">
            <label>
              We will inquire about getting hardware from MLH. While we cannot guarantee that hardware will be available, we will try our best. If we are able to get hardware, would you like some?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.wantsHardware">
            <label>
              What kind of hardware would be useful for you?
            </label>
            <p>
              Again, we cannot guarantee that everything will be available, but we will try our best to accommodate you. 
            </p>
            <input type="text" ng-model="user.confirmation.hardware">
          </div>


          <br>
          <br>

          <div class="divided title"> Skills & Accomplishments </div>

          <div class="field">
            <label> What are you studying? </label>
            <input type="text"
                   name="study"
                   placeholder="Computer Science, Product Design, Basket Weaving, etc."
                   ng-model="user.confirmation.major">
          </div>

          <div class="field">
            <label> Twitter </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://twitter.com/foobar"
                   ng-model="user.confirmation.twitter">
          </div>

         <br>
         <br>

          <div class="divided title">Legal</div>

          <div class="field">
            <label> Forms (required)</label>
            <p>As the event nears, we may require forms to be signed by you, like liability waviers or photo releases. Clicking the checkbox below confirms that, if you want to be admitted, you will sign the required forms. We will be sure to communicate with you if any forms become required, and you can ask us any questions by emailing us with the email address listed on the main website.</p>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.formSign" name="formSign">
              <label> I will sign any forms which may become required in the future. I acknowledge that Hack the Hill will contact me via email to announce any required forms </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">Notes / Misc.</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui black button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
