<div id="corporate">
  
  <section id="hero" class="center">
    <div class="logo-header-container ui grid mobile only tablet only" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header center">
        <img src="../assets/images/logo-hack.png">
      </div>
    </div>
    
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <span class="title">
        CORPORATE OUTREACH
      </span>
    </div>

    <div class="hero-border">
      <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
        <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Form Strategic Alliances
      </div>
      <div class="body">
        As a Corporate Outreach organizer, you will be asking companies for swag and sponsorship. We reach out to tons of partners to make HackUCI happen. Help us by communicating with tech companies through emails, phone calls, career fairs, hackathons, and other professional events. Help us grow our professional network!
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Who We're Looking For
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          Hackathon Specialist
        </div>
        <div class="body">
          <span>
            Attend other hackathons (LA Hacks, SD Hacks, Cal Hacks, Hacktech, Citrus Hack, TreeHacks, etc) and talk to the sponsors there. Your job is to advertise HackUCI, network with companies, collect contact information, record what happened, and continuously follow up with the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Career Fair Specialist
        </div>
        <div class="body">
          <span>
            Attend and volunteer at UCI career fairs (Fall Career Fair, STEM Career Fair, etc). Your job is to advertise HackUCI, network with companies, collect contact information, record what happened, and continuously follow up with the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Workshop Specialist
        </div>
        <div class="body">
          <span>
            Attend company-hosted workshops at or near UCI. Your job is to advertise HackUCI, network with companies, collect contact information, record what happened, and continuously follow up with the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Treasurer
        </div>
        <div class="body">
          <span>
            Create sponsorship agreement forms and invoices. Help document our finances and large sponsorship orders. Manage our point-of-sale system and club accounts.
          </span>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a href="https://hackuci.typeform.com/to/aPvFJh" target="_blank" class="btn">
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </section>
</div>