<div id="corporate">
  <section id="hero" class="center">
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header-container ui grid mobile only tablet only center">
        <div class="logo-header">
          <img src="../assets/images/hack-logo-transparent.png" />
        </div>
      </div>
      <span class="title">
        CORPORATE OUTREACH
      </span>
    </div>

    <div class="hero-border">
      <svg
        version="1.1"
        id="circle"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 380"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          fill="#fff"
          d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0"
          transform="translate(0 1)"
        ></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Form Strategic Alliances
      </div>
      <div class="body">
        As a Corporate Outreach organizer, you will be responsible for
        contacting companies for financial sponsorship, hardware, swag, and
        mentorship. We build relationships with existing partners and reach out
        to other local companies to support HackUCI. Help us communicate with
        tech companies by using the following strategies: diligent emailing,
        scheduling phone calls, attending career fairs, participating at
        hackathons, and networking at professional events! Help us grow our
        professional network so that we can provide better experiences for our
        event attendees.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Currently Recruiting
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          Hackathon Specialist
        </div>
        <div class="body">
          <span>
            Attend other hackathons (LA Hacks, SD Hacks, Cal Hacks, Hacktech,
            Citrus Hack, TreeHacks, etc) and talk to the sponsors there. Your
            job is to advertise HackUCI, network with companies, collect contact
            information, record what happened, and continuously follow up with
            the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Career Fair Specialist
        </div>
        <div class="body">
          <span>
            Attend and volunteer at UCI career fairs (Fall Career Fair, STEM
            Career Fair, etc). Your job is to advertise HackUCI, network with
            companies, collect contact information, record what happened, and
            continuously follow up with the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Workshop Specialist
        </div>
        <div class="body">
          <span>
            Attend company-hosted workshops at or near UCI. Your job is to
            advertise HackUCI, network with companies, collect contact
            information, record what happened, and continuously follow up with
            the people you've met.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Treasurer
        </div>
        <div class="body">
          <span>
            Create sponsorship agreement forms and invoices. Help document our
            finances and large sponsorship orders. Manage our point-of-sale
            system and club accounts.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Key Qualifications:
        </div>
        <div class="body">
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Strong written and verbal communication skills
            </div>
            <div class="item">
              <i class="check icon"></i>
              Proficient in managing information through spreadsheets (MS Excel,
              Google Sheets)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Organized and responsive
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience with drafting professional documents
            </div>
            <div class="item">
              <i class="check icon"></i>
              High tolerance for rejection
            </div>
            <div class="item">
              <i class="check icon"></i>
              Drive to work in a fast paced environment
            </div>
            <div class="item">
              <i class="check icon"></i>
              Willing to dedicate ~4 hours per week to Hack (meeting, content
              creation, etc.)
            </div>
          </div>
        </div>
        <span class="job-title">
          <a href="http://bit.ly/hack2020deliverable-corporate-relation-pdf" target="_blank"
            >Click for Corporate Deliverable Prompt</a
          >
        </span>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a
          href="https://goo.gl/forms/lVUQ2y2CrcG04LhN2"
          target="_blank"
          class="btn"
        >
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
