<div id="logistics" ng-class="{ 'fade-out': fadeOut }">
  
  <section id="hero" class="center">
    <div class="logo-header-container ui grid mobile only tablet only" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header center">
        <img src="../assets/images/logo-hack.png">
      </div>
    </div>
    
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <span class="title">
        LOGISTICS
      </span>
    </div>

    <div class="hero-border">
      <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
        <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Make Things Happen
      </div>
      <div class="body">
        Logistics is in charge of the entire back end of our events. We book the venues, plan out transportation, read and process thousands of applications, send out acceptances, handle food distribution, and much more. Anything that you can think of that is related to the day of execution of the events is done by logistics. Much of the work on our team is very time-sensitive as tasks need to be planned early in advance so that we have the time to think through everything. You must be exceptionally organized and have a keen attention to detail as processes must be done right in order for the events to run as smoothly as possible. We are looking for people with strong communication skills because we work in a fast-paced environment where decisions need to be made quickly among the members of the team.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Who We're Looking For
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          General Logistics Organizer
        </div>
        <div class="body">
          <span>
            Logistics is in charge of the entire back end of the event. We book the venue, plan out transportation, read and process our 1000s of applications, send out acceptances, prepare food and much more. Anything you can think of that is related to the day of execution of the event is done by logistics.
          </span>
          <span>
            Much of the work on our team is very time sensitive as things need to be planned early in advance so we have the time to think through everything. You must be exceptionally organized and have a keen attention to detail as things must be done right in order for the event to run as smoothly as possible. You must have strong communication skills as often times things we require need to be discussed among the rest of the team.             
          </span>
          <span class="strong">
            Key Qualifications:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Excellent time management skills.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Ability to communicate any issues that rise to the rest of the team in a timely and efficient manner.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Drive to work in a fast paced environment.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Work in a team based environment in order to meet goals.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Handle a large budget in order to organize events efficiently.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Have an open weekend in the first few weeks of Winter Quarter in order to be able to attend HackUCI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great planning and organization skills.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Attention to detail.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Required to come to 80% of all meetings and workshops run by Hack, with the other 20% being excused absences.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Stay during at least ⅔ of duration of HackUCI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Most importantly, willingness to adapt and learn new things.
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a href="https://hackuci.typeform.com/to/aPvFJh" target="_blank" class="btn">
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </section>
</div>