<div id="logistics" ng-class="{ 'fade-out': fadeOut }">
  <section id="hero" class="center">
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header-container ui grid mobile only tablet only center">
        <div class="logo-header">
          <img src="../assets/images/hack-logo-transparent.png" />
        </div>
      </div>
      <div>
        <span class="title">
          LOGISTICS
        </span>
      </div>
    </div>

    <div class="hero-border">
      <svg
        version="1.1"
        id="circle"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 380"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          fill="#fff"
          d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0"
          transform="translate(0 1)"
        ></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Coordinate Event Operations
      </div>
      <div class="body">
        The logistics team not only organizes the operations of HackUCI and
        ZotHacks, but we also organize workshops during the year. We are a
        detail-oriented and impact-driven team, uniting diverse backgrounds and
        skill sets to ensure that events run smoothly and benefit all parties
        involved.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Currently Recruiting
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          General Logistics Organizer
        </div>
        <div class="body">
          <span>
            Logistics manages the entire backend of Hack’s events. We book
            venues, plan transportation, review thousands of applications,
            handle food distribution, and much more. Anything that you can think
            of that relates to the execution of an event is done by logistics.
          </span>
          <span>
            Much of the work on our team is very time-sensitive. You must be
            exceptionally organized and have a keen eye for detail since
            processes must be done correctly so that events can run as smoothly
            as possible. We are looking for people with strong communication
            skills because we work in a fast-paced environment where decisions
            must be made quickly.
          </span>
          <span class="strong">
            Key Qualifications:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Excellent time management skills
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great planning and organization skills
            </div>
            <div class="item">
              <i class="check icon"></i>
              Attention to detail
            </div>
            <div class="item">
              <i class="check icon"></i>
              Strong written and verbal communication skills, especially in a
              timely and efficient manner for issues
            </div>
            <div class="item">
              <i class="check icon"></i>
              Drive to work in a fast paced environment
            </div>
            <div class="item">
              <i class="check icon"></i>
              Work in a team based environment in order to meet goals
            </div>
            <div class="item">
              <i class="check icon"></i>
              Handle a large budget in order to organize events efficiently
            </div>
            <div class="item">
              <i class="check icon"></i>
              Proficient in managing information through folders (Google Drive),
              spreadsheets (Google Sheets), and documents (Google Docs)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Willing to dedicate ~4 hours per week to Hack (meeting, content
              creation, etc.)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Most importantly, willingness to adapt and learn new things
            </div>
          </div>
        </div>
        <span class="job-title">
          <a href="http://bit.ly/hack2020deliverable-logistics-pdf" target="_blank"
            >Click for Logistics Deliverable Prompt</a
          >
        </span>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a
          href="https://goo.gl/forms/lVUQ2y2CrcG04LhN2"
          target="_blank"
          class="btn"
        >
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
