<div id="marketing">
  
  <section id="hero" class="center">
    <div class="logo-header-container ui grid mobile only tablet only" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header center">
        <img src="../assets/images/logo-hack.png">
      </div>
    </div>
    
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <span class="title">
        MARKETING
      </span>
    </div>

    <div class="hero-border">
      <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
        <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Make Ourselves Known
      </div>
      <div class="body">
        Marketing is in charge of being the bridge between the club and the public audience. Being a part of marketing means making sure everyone hears our announcements and our events. This includes drafting emails, making posts on social media platforms, writing articles on events, and many more. As a result, maintaining public relations is extremely important and having great communication skills is imperative.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Who We're Looking For
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          General Marketing Organizer
        </div>
        <div class="body">
          <span>
            As a general marketing organizer, your responsibilities vary from sending emails via Mailchimp to making posts on social media platforms in a witty and creative manner. Additionally, you will assist in planning workshops that occur throughout the school year. You are required to meet strict deadlines and have exceptional communication skills since marketing is all about reaching out to the public.
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Graphic Designer
        </div>
        <div class="body">
          <span>
            Marketing can be described as the face of the company and that holds true for our club. As a graphic designer, you will be responsible for creating graphics for various platforms such as Facebook or our club website. Graphic designs will follow general guidelines and have to be submitted before given deadlines. You must also have a keen attention to detail and have a proficient knowledge in visual design, color theory, and typography. Knowledge of Photoshop or some professional grade software is required as well. 
          </span>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a href="https://hackuci.typeform.com/to/aPvFJh" target="_blank" class="btn">
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </section>
</div>