<div id="marketing">
  <section id="hero" class="center">
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header-container ui grid mobile only tablet only center">
        <div class="logo-header">
          <img src="../assets/images/hack-logo-transparent.png" />
        </div>
      </div>
      <span class="title">
        MARKETING
      </span>
    </div>

    <div class="hero-border">
      <svg
        version="1.1"
        id="circle"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 380"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          fill="#fff"
          d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0"
          transform="translate(0 1)"
        ></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Make Ourselves Known
      </div>
      <div class="body">
        Marketing builds the bridge between Hack and the general public. Being a
        part of marketing means making sure everyone is excited about our
        announcements and engaged with our events. This includes drafting
        emails, posting on social media platforms, writing blogs for the club
        website, and more! Great communication skills is imperative because our
        job focuses on interacting with the public.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Currently Recruiting
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          General Marketing Organizer
        </div>
        <div class="body">
          <span>
            As a general marketing organizer, your responsibilities vary from
            sending emails via Mailchimp to making posts on social media
            platforms in a witty and creative manner. Additionally, you will
            assist in planning workshops that occur throughout the school year.
            You are required to meet strict deadlines and have exceptional
            communication skills since marketing is all about reaching out to
            the public.
          </span>
          <span class="strong">
            Key Qualifications:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Exceptional communication and writing skills
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience with email and social media marketing campaigns
              (MailChimp, SendGrid, Facebook, Instagram, Twitter)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Creative and critical thinking abilities
            </div>
            <div class="item">
              <i class="check icon"></i>
              Drive to work in a fast-paced cross-functional team
            </div>
            <div class="item">
              <i class="check icon"></i>
              Willing to dedicate ~4 hours per week to Hack (meeting, content
              creation, etc.)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Photography and videography skills (preferred)
            </div>
          </div>
          <span class="strong">
            <a href="http://bit.ly/hack2020deliverable-marketing-pdf" target="_blank"
              >Click for Marketing Deliverable Prompt
            </a>
          </span>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Graphic Designer
        </div>
        <div class="body">
          <span>
            As a graphic designer, you will be responsible for creating graphics
            that represent our organization and events for various platforms,
            such as Facebook or our club website. Designers also shape the theme
            and aesthetic for ZotHacks and HackUCI. Graphic designs will follow
            general guidelines and have to be submitted for review before given
            deadlines. You must be detail-oriented and have proficient knowledge
            in visual design, color theory, and typography. You will also be
            working closely with the web development team, so experience with
            HTML and CSS is a plus, but not required.
          </span>

          <span class="strong">
            Key Qualifications:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Proficiency in graphic design
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience using a raster graphics editor (ex. Adobe Photoshop,
              Fire Alpaca, etc.)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience using a vector graphics editor (ex. Adobe Illustrator,
              Inkscape, etc.)
            </div>
            <div class="item">
              <i class="check icon"></i>
              Willing to dedicate ~4 hours per week to Hack (meeting, content
              creation, etc.)
            </div>
          </div>
          <span class="strong">
            <a
              href="http://bit.ly/hack2020deliverable-graphics-design-pdf"
              target="_blank"
              >Click for Graphic Design Deliverable Prompt
            </a>
          </span>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a
          href="https://goo.gl/forms/lVUQ2y2CrcG04LhN2"
          target="_blank"
          class="btn"
        >
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
