<div id="recruit">
	<section id="hero">
		<div class="hero-content center">
			<div ng-class="{ 'fade-out': fadeOut }">
        <div class="logo-header-container ui grid mobile only tablet only">
          <div class="logo-header center">
            <img src="../assets/images/logo-hack.png">
          </div>
        </div>
				<span class="hero-title ui grid computer only">Hack at UCI</span>
				<div class="hero-description-container">
          <span class="hero-description ui grid mobile only">2018 - 2019</span>
          <span class="hero-description ui grid mobile only">RECRUITMENT</span>
					<span class="hero-description ui grid computer only tablet only">2018 - 2019 RECRUITMENT</span>
				</div>
			</div>
		</div>
		<div class="hero-border">
			<svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
				<path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
			</svg>
		</div>
	</section>

	<section id="info" class="center">
		<div id="info-content">
			<div class="ui stackable three column grid">
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/create.png">
          </div>
          <div class="card-title">
            CREATE
          </div>
          <div class="card-description">
            We create opportunities for innovators and makers to showcase their work and ingenuity, and show the world what they can do.
          </div>
        </div>
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/connect.png">
          </div>
          <div class="card-title">
            CONNECT
          </div>
          <div class="card-description">
            We provide opportunities for like-minded hackers to network and connect with each other and form a passionate and engaging community.
          </div>
        </div>
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/inspire.png">
          </div>
          <div class="card-title">
            INSPIRE
          </div>
          <div class="card-description">
            We aim to empower the community, inspire ingenuity, and cultivate the future leaders in technology.
          </div>
        </div>
      </div>
		</div>
	</section>

	<section id="whoweare" class="center">
		<div id="whoweare-content">
			<div class="title">
				Who We Are
      </div>
      <div class="whoweare-description">
        Hack at UCI is a club that promotes hacker culture by encouraging people to push boundaries, be creative, go against the grain, and be passionate about one’s craft. While planning for workshops that promote this culture, we also plan an annual hackathon (a 36-hour overnight technical invention festival) that celebrates UC Irvine's spirit of innovation.
      </div>
    </div>
	</section>

	<section id="committee" class="center">
		<div id="committee-content" ng-class="{ 'fade-out': fadeOut }">
			<div class="title">
				Join Us
      </div>
      <div class="ui stackable two column grid">
        <div class="column">
          <a ui-sref="app.logistics" class="committee-card committee-card--logistics center">
            LOGISTICS
          </a>
        </div>
        <div class="column">
          <a ui-sref="app.corporate" class="committee-card committee-card--corporate center">
            CORPORATE OUTREACH
          </a>
        </div>
        <div class="column">
          <a ui-sref="app.marketing" class="committee-card committee-card--marketing center">
            MARKETING
          </a>
        </div>
        <div class="column">
          <a ui-sref="app.technology" class="committee-card committee-card--technology center">
            TECHNOLOGY
          </a>
        </div>
      </div>
		</div>
	</section>

	<section id="footer" class="center">
		<div id="footer-content">
			<a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			<a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</div>
	</section>
</div>