<div id="recruit">
  <section id="hero">
    <div class="hero-content center">
      <div ng-class="{ 'fade-out': fadeOut }">
        <div class="logo-header-container ui grid mobile only tablet only center">
          <div class="logo-header">
            <img src="../assets/images/hack-logo-gradient-meg.png" />
          </div>
        </div>
        <div class="logo-header-container ui grid">
          <div class="logo-header center">
            <header class="hack-header">Hack at UCI</header>
          </div>
        </div>
        <div class="hero-description-container">
          <span class="hero-description ui grid mobile only">2019 - 2020</span>
          <span class="hero-description ui grid mobile only">RECRUITMENT</span>
          <span class="hero-description ui grid computer only tablet only"
            >2019 - 2020 RECRUITMENT</span
          >
        </div>
      </div>
    </div>
    <div class="hero-border">
      <svg
        version="1.1"
        id="circle"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 380"
        xml:space="preserve"
        preserveAspectRatio="none"
      >
        <path
          fill="#fff"
          d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0"
          transform="translate(0 1)"
        ></path>
      </svg>
    </div>
  </section>

  <section id="info" class="center">
    <div id="info-content">
      <div class="ui stackable three column grid">
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/explore-icon-viv.png" />
          </div>
          <div class="card-title">
            Explore
          </div>
          <div class="card-description">
            We provide professional events that help people to explore new
            technologies, ground-breaking ideas, and career paths.
          </div>
        </div>
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/learn-icon-viv.png" />
          </div>
          <div class="card-title">
            Learn
          </div>
          <div class="card-description">
            We host workshops and hackathons that support people as they learn
            industry-relevant skills.
          </div>
        </div>
        <div class="info-card column">
          <div class="card-icon">
            <img src="../assets/images/create-icon-viv.png" />
          </div>
          <div class="card-title">
            Create
          </div>
          <div class="card-description">
            We support the developer community at UCI to collaborate on
            innovative technical products that have meaning.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about-us" class="center">
    <div id="about-us-content">
      <div class="title">
        About Us
      </div>
      <div class="about-us-description">
        Hack at UCI is an organization that promotes developer culture by
        encouraging people to think creatively, develop technology boldly, and
        pursue the leading edge of technical innovation. Our organization
        regularly hosts technical and professional development workshops that
        teach students industry-relevant skills. Furthermore, we aim to
        celebrate UC Irvine’s spirit of innovation by organizing ZotHacks, a
        beginner-friendly hackathon, and HackUCI, Orange County’s largest
        hackathon.
      </div>
    </div>
  </section>

  <section id="committee" class="center">
    <div id="committee-content" ng-class="{ 'fade-out': fadeOut }">
      <div class="ui stackable two column grid">
        <div class="column">
          <a
            ui-sref="app.logistics"
            class="committee-card committee-card--logistics center"
          >
            LOGISTICS
          </a>
        </div>
        <div class="column">
          <a
            ui-sref="app.corporate"
            class="committee-card committee-card--corporate center"
          >
            CORPORATE OUTREACH
          </a>
        </div>
        <div class="column">
          <a
            ui-sref="app.marketing"
            class="committee-card committee-card--marketing center"
          >
            MARKETING
          </a>
        </div>
        <div class="column">
          <a
            ui-sref="app.technology"
            class="committee-card committee-card--technology center"
          >
            TECHNOLOGY
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="center">
    <div id="footer-content">
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
