<div id="technology">
  
  <section id="hero" class="center">
    <div class="logo-header-container ui grid mobile only tablet only" ng-class="{ 'fade-out': fadeOut }">
      <div class="logo-header center">
        <img src="../assets/images/logo-hack.png">
      </div>
    </div>
    
    <div class="title-container" ng-class="{ 'fade-out': fadeOut }">
      <span class="title">
        TECHNOLOGY
      </span>
    </div>

    <div class="hero-border">
      <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 380" xml:space="preserve" preserveAspectRatio="none">
        <path fill="#fff" d="M0,309c0,0,340,70.8,960,70.8c620,0.2,960-70.8,960-70.8v71H0" transform="translate(0 1)"></path>
      </svg>
    </div>
  </section>

  <section id="content" ng-class="{ 'fade-out': fadeOut }">
    <section class="committee-description-container">
      <div class="title">
        We Build Cool Things
      </div>
      <div class="body">
        Every year, thousands of students across the country apply to our annual HackUCI event on our website. In addition, our website also receives a huge amount of traffic from various companies who visit our website to obtain sponsorship information. By joining the Technology team, you not only get to work on a large-scale hackathon application tracking platform, but you also have the opportunity to build exciting internal tools for our organizers so that they can work more efficiently.
      </div>
    </section>
    <section id="break" class="center">
      <div id="break-content">
        <div class="title">
          Who We're Looking For
        </div>
      </div>
    </section>
    <section class="job-container">
      <div class="job">
        <div class="job-title">
          Front-end Developer
        </div>
        <div class="body">
          <span>
            As a front-end developer, your primary task is to design and develop an eye-catching user interface that delivers a good first impression to both attendees and sponsors. You will be streamlining the hackathon registration experience and utilize the latest frontend technologies to implement it.
          </span>
          <span class="strong">
            What We’re Looking For:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Proficiency in HTML5, CSS3 and JavaScript.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in designing and developing clean, modern and responsive UI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in modern JavaScript frameworks (Angular, React, Vue, jQuery, etc.) and debugging tools (Chrome Dev Tools, etc.).
            </div>
            <div class="item">
              <i class="check icon"></i>
              Ability to write clean, well documented code.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great learning potential with fast iteration speed.
            </div>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Back-end Developer
        </div>
        <div class="body">
          <span>
            As a back-end developer, you are responsible for developing a robust and secure server-side application to support our client-side web application. You will also be tasked with setting up and maintaining the database that stores our applicants’ data.
          </span>
          <span class="strong">
            What We’re Looking For:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Proficiency in JavaScript.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in developing Node.js web applications.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in setting up and maintaining MongoDB databases.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Ability to write clean, well documented code.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great learning potential with fast iteration speed.
            </div>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="job-title">
          Full-Stack Developer
        </div>
        <div class="body">
          <span>
            If you are competent in both front-end and back-end development, this role is for you! You will be working on tasks that span across both the front-end and back-end aspects of the application, from designing and implementing the front-end components to developing the server-side application to working with the database.
          </span>
          <span class="strong">
            What We’re Looking For:
          </span>
          <div class="ui list">
            <div class="item">
              <i class="check icon"></i>
              Proficiency in HTML5, CSS3 and JavaScript.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in designing and developing clean, modern and responsive UI.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in modern JavaScript frameworks (Angular, React, Vue, jQuery, etc.) and debugging tools (Chrome Dev Tools, etc.).
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in developing Node.js web applications.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Experience in setting up and maintaining MongoDB databases.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Ability to write clean, well documented code.
            </div>
            <div class="item">
              <i class="check icon"></i>
              Great learning potential with fast iteration speed.
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="footer" class="center" ng-class="{ 'fade-out': fadeOut }">
    <div id="footer-content">
      <div class="button-container">
        <a href="https://goo.gl/forms/YppEfQFJQH8KUeww1" target="_blank" class="btn">
          <i class="fa fa-rocket" aria-hidden="true"></i>
          APPLY
        </a>
      </div>
      <a href="mailto:HackUCI@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hackUCIrvine"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/HackUCI"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </section>
</div>