<div id="mentorApplication" class="page">
    <div class="divided title">
      Application
    </div>
    <div class="ui stackable page grid">
      <div class="column">
        <div class="ui form"
              ng-class="{'loading': loading}">
  
          <div class="divided title">Basic Information</div>
  
          <fieldset ng-disabled="regIsClosed">
  
          <div class="field">
            <label> Email </label>
            <input type="email"
                   name="email"
                   disabled="disabled"
                   ng-model="user.email">
          </div>
  
          <div class="field" ng-show="autoFilledCompany">
            <label> Company </label>
            <input class="ui input"
                   disabled="disabled"
                   ng-show="autoFilledCompany"
                   ng-model="user.profile.company">
          </div>
  
          <div class="field" ng-show="!autoFilledCompany">
            <label> Company </label>
            <div id="company" class="ui search">
              <div class="ui input">
                <input class="prompt" type="text" placeholder="Company" name="company" ng-model="user.profile.company">                
              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text"
                   name="name"
                   ng-model="user.profile.name">
          </div>

          <div class="field">
            <label>Gender</label>
            <select
              name="gender"
              ng-model="user.profile.gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
              <option value="N">I prefer not to answer.</option>
            </select>
          </div>

          <br>

          <div class="divided title"> Coming Dates </div>

          <div id="availableDates">
            <label>Available Dates</label>
            <p>The you are about to provide is the arriving times (pay attention that in order to submit application you nee to provide at least one arriving time)</p>
            <div class="field" ng-show="isAbleToComeToMentor(1)">
              <label>Round 1</label>
              Come
              <div class="field">
                <input name="Round1ComingMentor" id="r1c" ng-model="user.profile.round1come" type="datetime-local"/>
              </div>
              Go
              <div class="field">
                <input name="Round1GoingMentor" id="r1g" ng-model="user.profile.round1go" type="datetime-local"/>
              </div>
            </div>

            <div class="field" ng-show="isAbleToComeToMentor(2)">
              <label>Round 2</label>
              Come
              <div class="field">
                <input id="r2c" ng-model="user.profile.round2come" type="datetime-local"/>
              </div> 
              go
              <div class="field">
                <input id="r2g" ng-model="user.profile.round2go" type="datetime-local"/>
              </div>
            </div>

            <div class="field" ng-show="isAbleToComeToMentor(3)">
              <label>Round 3</label>
              Come
              <input id="r3c" ng-model="user.profile.round3come" type="datetime-local"/>
              Go
              <input id="r3g" ng-model="user.profile.round3go" type="datetime-local"/>            
            </div>

            <div class="ui field">
              <div ng-click="increaseNumbersOfDaysUserWantToCome()" class="ui green button" >Add Round</div>
            </div>
          </div>

        

          <br>
          
          <div class="field">
            <p>
              Because of goverment limitations, we are not legally allowed to host
              minors (those under 18). Checking the box below affirms that you are or will be 18 years or older by September 19th, 2015.
            </p>
            <p>
              <strong>
              We will be checking ID.
              </strong>
            </p>
            <div class="ui checkbox">
              <input type="checkbox" id="adult" ng-model="user.profile.adult">
              <label for="adult">I am 18 or older.</label>
            </div>
          </div>
  
          <br>
  
          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>
  
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  