name: Pa11y Accessibility Testing

on: [pull_request]

jobs:    
    pa11y:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v1

            - name: Start MongoDB As Docker
              uses: wbari/start-mongoDB@v0.2
              with:
                  mongoDBVersion: 4.2

            - name: Read .nvmrc
              run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
              id: nvm

            - name: Cache
              uses: actions/cache@v1
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: "${{ steps.nvm.outputs.NVMRC }}"

            - name: Install Dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm install

            - name: Run Accessibility Tests
              env:
                  DATABASE: mongodb://mongo:27017
              run: ping mongo && ( node app.js > /dev/null 2>&1 & ) && sleep 5 && npm run test:accessibility
