<div id="dashboard" class="page">
  <div class="divided title">
    Dashboard
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Your status:
        </div>
        <br>

        <div
          class="state"
          ng-class="user.status.name"
          ng-if="!showRejected && !showWaitlist && !dashState('admittedAndCannotConfirm')">
          {{user.status.name}}
        </div>

        <div
          class="declined state"
          ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>

        <div
          ng-if="showWaitlist"
          class="waitlist state">
          On waitlist
        </div>

        <div
          ng-if="showRejected"
          class="rejected state">
          Not Admitted
        </div>

        <div class="ui divider"></div>

        <div ng-if="user.profile.name.length > 0">
          <p>
            <strong>
              Welcome back, {{user.profile.name}}!
            </strong>
          </p>
          <p>
          </p>
        </div>

        <div
          ng-if="dashState('unverified')"
          class="description">
          <p>
            <strong>
            Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            {{ DASHBOARD.UNVERIFIED }}
          </p>
          <div class="ui buttonPrimary button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>

        <div
          ng-class="settings.timeClose"
          ng-if="!uscApplicant && !(dashState('admittedAndCanConfirm') || dashState('admittedAndCannotConfirm') || dashState('rejected') || dashState('waitlisted') || dashState('confirmed') || dashState('declined'))">
          <strong>
            Registration Deadline:
          </strong>
          {{ timeClose }}
        </div>

        <div
          ng-class="settings.timeCloseUSC"
          ng-if="uscApplicant && !(dashState('admittedAndCanConfirm') || dashState('admittedAndCannotConfirm') || dashState('rejected') || dashState('waitlisted') || dashState('confirmed') || dashState('declined'))">
          <strong>
            Registration Deadline:
          </strong>
          {{ timeCloseUSC }}
        </div>

        <div
          ng-class="settings.timeConfirm"
          ng-if="dashState('admittedAndCanConfirm') || dashState('admittedAndCannotConfirm') || dashState('confirmed') || dashState('declined')">
          <strong>
            Confirmation Deadline:
          </strong>
          {{ timeConfirm }}
        </div>

        <div
          ng-if="dashState('openAndIncomplete')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>

          <div class="ui buttonPrimary button"
               ui-sref="app.application">
            Complete your application
          </div>

        </div>

        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">
          <p>
            <strong>
                {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED_BEFORE_DEADLINE }}
          </p>
          <div class="ui buttonPrimary button"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui buttonSecondary button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Create or join a team
          </div>

          <div
            class="ui buttonSecondary button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>

        </div>

        <div
          ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
                {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div
          ng-if="dashState('closedAndSubmitted')"
          class="description" >
          <p>
            <strong>
              {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED_AFTER_DEADLINE }}
          </p>

          <div class="ui buttonPrimary button"
               ui-sref="app.application">
            View your application
          </div>

          <div
            class="ui buttonSecondary button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="acceptanceText">
          </div>

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>

          <div class="ui buttonPrimary button"
               ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui buttonTertiary button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
                {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('rejected')">

          <div class="markdown">
            <h4>
              {{ DASHBOARD.REJECTED_TITLE }}
            </h4>

            <div
              class="markdown"
              ng-bind-html="rejectionText">
            </div>

            <p>
              {{ DASHBOARD.REJECTED }}
            </p>
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('waitlisted')">

          <div class="markdown">
            <h4>
              {{ DASHBOARD.WAITLISTED_TITLE }}
            </h4>

            <div
              class="markdown"
              ng-bind-html="waitlistedText">
            </div>

            <p>
              {{ DASHBOARD.WAITLISTED }}
            </p>

            <div
                    ng-show="showTransportation"
                    class="transportation">
              <div class="ui dividing header">Transportation</div>
                <div
                  ng-show="transportation != null">
                  <div
                          ng-show="transportation.note != undefined">
                    {{transportation.note}}
                  </div>
                  <div
                          ng-show="transportation.note == undefined || transportation.note == ''">

                    We are providing bus transportation from <strong>{{transportation.school}}</strong>.
                    <br><br>
                    Your pickup location will be <strong>{{transportation.location}}</strong>, and the bus will arrive at <strong>Friday, April 12, {{transportation.time}}</strong>.
                    <!--USC only-->
                    <span
                      ng-show="transportation.school == 'University of Southern California'">
                      This means there will be multiple buses running between campus and the venue at 15 minute intervals, with the last one leaving at 7:30 PM.
                      We recommend you arrive early so you don't miss dinner at 6 PM, and the opening ceremony at 7 PM!
                    </span>
                    <br><br>
                    Your bus coordinators are:
                    <br>
                    <span ng-repeat="coordinator in transportation.coordinators">
                        <strong>{{coordinator.name}}</strong> - <a href="{{coordinator.email}}">{{coordinator.email}}</a>
                        <br>
                    </span>
                    <br>
                    Capacity is limited and seats are filled on a first come first serve basis, so we highly recommend you come to your location early!
                    Buses will leave once capacity is filled or 15 minutes after arrival time, whichever happens first.
                    If you have any questions, your bus coordinators are your main point of contact.
                  </div>
                  <br>
                </div>

                <div>
                  If you plan on arriving on your own, please set your destination to <strong>California Market Center, 110 E 9th St, Los Angeles, CA 90079</strong>.
                  Check-in runs from <strong>Friday, April 12, 5:00 PM - 10:00 PM</strong> but we recommend arriving early so you don't miss dinner and our opening ceremony.
                  We will be outside with signs and instructions, but in case you experience any issue please email us at <a href="mailto:hackers@hacksc.com">hackers@hacksc.com</a>.
                  <br>
                  For drivers, there is parking on-premise for $25. This price covers the entire duration of HackSC assuming you don't move your car. Moving your car in and out of the parking garage costs $9 per entrance.
                  Please note that we unfortunately cannot provide any form of reimbursement due to USC policy.
                  <br>
                  We can't wait to see you there!
                </div>
            </div>
          </div>

          <div class="ui buttonPrimary button"
               ui-sref="app.confirmation">
            Fill out Confirmation
          </div>

          <div class="ui buttonTertiary button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('confirmed')">

          <div
            ng-show="!pastConfirmation"
            class="markdown">
            <h4>
                {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
          </div>

          <div
            class="markdown"
            ng-bind-html="confirmationText">
          </div>

          <div
                  ng-show="showTransportation"
                  class="transportation">
            <div class="ui dividing header">Transportation</div>
            <div
                    ng-show="transportation != null">
              <div
                      ng-show="transportation.note != undefined">
                {{transportation.note}}
              </div>
              <div
                      ng-show="transportation.note == undefined || transportation.note == ''">

                We are providing bus transportation from <strong>{{transportation.school}}</strong>.
                <br><br>
                Your pickup location will be <strong>{{transportation.location}}</strong>, and the bus will arrive at <strong>Friday, April 12, {{transportation.time}}</strong>.
                <!--USC only-->
                <span
                    ng-show="transportation.school == 'University of Southern California'">
                    This means there will be multiple buses running between campus and the venue at 15 minute intervals, with the last one leaving at 7:30 PM.
                    We recommend you arrive early so you don't miss dinner at 6 PM, and the opening ceremony at 7 PM!
                </span>
                <br><br>
                Your bus coordinators are:
                <br>
                <span ng-repeat="coordinator in transportation.coordinators">
                        <strong>{{coordinator.name}}</strong> - <a href="{{coordinator.email}}">{{coordinator.email}}</a>
                        <br>
                    </span>
                <br>
                Capacity is limited and seats are filled on a first come first serve basis, so we highly recommend you come to your location early!
                Buses will leave once capacity is filled or 15 minutes after arrival time, whichever happens first.
                If you have any questions, your bus coordinators are your main point of contact.
              </div>
              <br>
            </div>

            <div>
              If you plan on arriving on your own, please set your destination to <strong>California Market Center, 110 E 9th St, Los Angeles, CA 90079</strong>.
              Check-in runs from <strong>Friday, April 12, 5:00 PM - 10:00 PM</strong> but we recommend arriving early so you don't miss dinner and our opening ceremony.
              We will be outside with signs and instructions, but in case you experience any issue please email us at <a href="mailto:hackers@hacksc.com">hackers@hacksc.com</a>.
              <br>
              For drivers, there is parking on-premise for $25. This price covers the entire duration of HackSC assuming you don't move your car. Moving your car in and out of the parking garage costs $9 per entrance.
              Please note that we unfortunately cannot provide any form of reimbursement due to USC policy.
              <br>
              We can't wait to see you there!
            </div>
          </div>

          <div class="ui buttonPrimary button"
               ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui buttonTertiary button"
               ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div
          class="description"
          ng-if="dashState('declined')">

          <p>
            {{ DASHBOARD.DECLINED }}
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
